<!-- <head> -->

<!-- <script src="js/vendor/modernizr-3.6.0.min.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script> -->

<!-- DatePicker -->
<!-- <link rel="stylesheet" href="vendors/bootstrap-datepicker/css/bootstrap-datepicker.css">
    <script src="vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>


    <script src="vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script> -->
<!-- </head> -->

<!-- <form>
    <div class="well span12 main">
        <i class="far fa-calendar-alt"></i>
        <input type="text" id="dp1" class="span2 datepicker" placeholder="Custom Date..." name="date">

        <button type="submit" class="btn btn-success">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form> -->

<style>
    /* body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        background: rgb(0, 0, 0);
    } */

    .rcorners1 {
        border-radius: 5px;
        /* background: #535353dc; */
        border: 1px solid rgb(131, 168, 192);
        padding: 0px;
        width: 100%;
        height: 300px;
        margin: auto;
        margin-bottom: 3px;
        /* box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.3); */
    }
</style>


<!-- <div ng-controller="mine_sites"> -->
<!-- Right Panel -->
<!-- Bootstrap Date-Picker Plugin -->
<div>
    <div ng-repeat="x in sites">
        <li>
            <h1> {{ x.siteName }}</h1>
            <ul>
                <div ng-repeat="y in x.siteEquipment">
                    <li>
                        <a href="#Equip/{{y}} "> {{ y }}</a>
                    </li>
                </div>
            </ul>
        </li>
    </div>
</div>

<!-- <div ng-repeat="x in sites">
        <p>{{ x.siteName }} ASS</p>
    </div> -->

</div>