








/** LIGHTBOX MARKUP **/

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align:middle;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	
	/** Pad the lightbox image */
	/*vertical-align:middle;		
	max-width: 95%;
	max-height: 95%;
	margin-top: 5%;*/
}

.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}