@media screen and (max-width: 992px) {
 
  h1{  font-size: 38pt;    text-shadow: 4px 4px 3px #00000094;}
h2{  font-size: 24pt;    text-shadow: 4px 4px 3px #00000094;}
h3{  font-size: 40pt;}
h4{  font-size: 37pt;}
h5{  font-size: 20pt;}
h6{font-size: 15pt;}
p{
  font-size: 10pt;
  color: #cde0e5;
  display: none;
}
 
  .entry {
    width:95%;
    border: 4px solid #00b88e;
  }


  .link{
    font-size: 40pt;
  }

  .link:link,
  .link:visited,
  .link:active
  {
    min-width: 168px;
    line-height: 69px;
    min-height: 35px;
  }

  .link:link, .link:visited, .link:active {
    color: #ffffff;
    background: #006161;
    border: 3px solid;    
    border-radius: 15px;
}
  
  .top {
    grid-template-columns: 1fr;
  }

  .left {
    text-align: center;
  }

  img
  {
    min-width: 150px;
  }

  

  .modal-content {   
    width: 95%;  
  }


  .mobile-para
  {
    display: block;
    font-size: 10pt;
  color: #cde0e5;  
  }
}