


body {
    /* background: black; */
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin: 0;
    background: url(bg.jpg) no-repeat center center fixed;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
      z-index: 0; 
  }


  /* -------------------------------------- */
/* FONT AND STYLES */

h1,h2,h3,h4,h5,h6,p
{
    color:white;
    margin: 0;
    padding: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: normal;
}

h1{  font-size: 38pt;    text-shadow: 4px 4px 3px #00000094;}
h2{  font-size: 24pt;    text-shadow: 4px 4px 3px #00000094;}
h3{  font-size: 18pt;}
h4{  font-size: 12pt;}
h5{  font-size: 10pt;}
p{font-size: 9pt;    color: #cde0e5;font-weight: 300;}


.light
{
  color: #caf0f6fa;
    text-shadow: 1px 1px 3px #00000082;
}

.left {
    text-align: left;
  }
  
  .right {
    text-align: right;
  }
  
  .center {
    text-align: center ;
  }
/* -------------------------------------- */

.header
{
    background: linear-gradient(0deg, transparent, black);
    padding-top: 15px;
    margin-bottom: 20px;
}

.link:link,
.link:visited,
.link:active
{
 color: #ececec;
    background: linear-gradient(0deg, #006161, transparent);
    min-width: 120px;
    text-decoration: none;
    line-height: 28px;
    display: inline-block;
    min-height: 30px;
    border-bottom: 1px solid;    
    transition: 0.3s;
}

.link:hover
{    
    transform: translate(0px, 1px);
    transition: 0.1s;
    border-color: #4cf3ff;      
}

a:link,
a:visited,
a:active
{
    color:white;
}
a:hover
{
    color:#00ffdc;
}
.entry
{
    width: 75%;
    max-width: 1100px;
    margin: auto;
    margin-bottom: 78px;
    box-shadow: 7px 15px 12px 0px  rgba(0, 0, 0, 0.5);
    border: 1px solid #0e624f;    
}

.top, .top-abt
{    
    display: grid;
    grid-template-columns: 2fr 6fr 4fr;
    background: linear-gradient(-170deg, #005f52, #00061d);
    padding: 1%;
    padding: 1%;
}
.top-abt
{
    grid-template-columns: 2fr 6fr 2fr;
}

.top > div:nth-child(2) > h3
{
   font-weight: 300;
}


.top>div:nth-child(3)
{
    text-align: right;
}

.top > div:nth-child(3) > img
{    
    box-shadow: 4px 6px 6px 0px rgba(0, 0, 0, 0.4);
}


.content
{
    background: rgba(0, 0, 0, 0.65);
    padding: 10px;
}

.content > div
{
    display: flex;
    justify-content: space-around;
}


#sscell
{
    height: 200px;
    width: 30%;
    max-width: 320px;
    margin: 1%;
    background: black;
    box-shadow: 5px 8px 7px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid #656e74;
    transition:0.6s;    
}

#sscell:hover {
    transform: translate(0px, 3px);
    border: 1px solid #7bd3ff;
    transition:0.2s;    
}

#ss
{
    width: 100%; 
    height: 200px;
}


.sscontainer
{	
    height: 190px;
	overflow:hidden;
}

#picwide {	
    width: 900px;
}

#pictall {	
    width: 450px;
}

.abtFlex
{
  display:flex;
  justify-content: space-between;
  align-content: flex-end;
}

.abtFlex > div
{  
    flex:1 1 auto;
    margin:5px;  /* and that, will result in a 10px gap */
  }




  
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    /* width: 60%;  
    max-height: 60%; */
  }