<div class="chartCard">
    <div class="charthead">
        <div class="chartheadtxt left">{{$ctrl.name}}</div>
        <div class="chartheadtxt right">
            <div class="tooltip">
                <i class="fas fa-info-circle tooltip"></i>
                <span class="tooltiptext">Shows the movements in the specified metric against targets
                    from monthly schedule. If this equipment has operated at different sites, this will
                    be reflected <a href=""><i class="fas fa-book"></i> Read More</a></span>
            </div>
        </div>
    </div>
    <div id="{{$ctrl.chart}}" class="chartdivcontent">
        <p>Loading, please wait...</p>
    </div>
</div>