<div class="cup">
    <div class="underline flex flex-start">
        <h2><i class="far fa-file-alt"></i> {{reportCategory}} - {{ reportTitle }}</h2>
        <!-- <h4>{{ reportTitle}}</h4> -->
    </div>
    </br>

    <div class="reportGrid">
        <!-- Report View -->
        <!-- <div ng-if="currentCSVView!==undefined"> -->

        <div ng-if="!refresh">
            <div ui-grid="gridOptions" ui-grid-resize-columns ui-grid-exporter class="reportCSV"></div>
        </div>



    </div>
</div>



<!--
     This is the report accordian but probably won't use this anymore 
-->


<!-- <button class="accordion equipSmallInfo" ng-click="accordionClick($event)">
    <div class="reportTitle left light">
        <p>Bogger Tonnes</p>
        <h3>All Tonnes By Mine By Time</h3>
    </div>
    <h4 ng-if="accordionActive">Close Report Options <i class="fas fa-chevron-circle-up"></i></h4>
    <h4 ng-if="!accordionActive">Open Report Options <i class="fas fa-chevron-circle-down"></i></h4>
</button>

<div class="panel">
    <h4 class="underline center">Preferences</h4>
    <div class="reportFlex">
        <div class="reportPrefText">
            <h5 class="light">Start Date & Shift :</h5>
        </div>

        <input type="date">

        <label class="switch"><input ng-init="rptStateStart=true" ng-model="rptStateStart"
                ng-change="newFunction(rptStateStart)" type="checkbox" id="togBtn" checked>
            <div class="slider round" switch-on="Day" switch-off="Night"></div>
        </label>
    </div>

    <div class="reportFlex">
        <div class="reportPrefText">
            <h5 class="light">End Date & Shift : </h5>
        </div>

        <input type="date">

        <label class="switch"><input ng-init="rptStateEnd=true" ng-model="rptStateEnd"
                ng-change="newFunction(rptStateEnd)" type="checkbox" id="togBtn" checked>
            <div class="slider round" switch-on="Day" switch-off="Night"></div>
        </label>

    </div>

    <div ng-repeat="(key, value) in reports track by $index">
        <h3 class="underline center">{{key}}</h3>
        <div class="reportFlex">
            <div ng-repeat="e in value track by $index">
                <report-item key="{{key}}" value="{{e}}" id="{{$parent.$index}}-{{$index}}">
                </report-item>
            </div>
        </div>
    </div>

</div> -->