<div class="equipGrid">
    <div class="equipHeader first">
        <div>
            <h1 class="shadow">{{equip.id}}</h1>
            <h4 ng-if="shift==0"><i class='shiftIconDay fas fa-sun'></i> {{shiftTitle}}</h4>
            <h4 ng-if="shift==1"><i class='shiftIconNight fas fa-moon'></i> {{shiftTitle}}</h4>
        </div>
        <drill-down-header shift="{{shift}}" equip="equip" lines=0> </drill-down-header>
    </div>

    <drill-down-chart title="Metrics Per Hour" chart="mph"></drill-down-chart>
    <drill-down-chart title="Time Usage Split" chart="tus"></drill-down-chart>

    <drill-down-chart title="Availability & Utilisation" chart="uofa"></drill-down-chart>

    <drill-down-chart title="Operating Events" chart="p1"></drill-down-chart>
    <drill-down-chart title="Idle Events" chart="p2"></drill-down-chart>
    <drill-down-chart title="Down Events" chart="p3"></drill-down-chart>

    <drill-down-chart title="Event Timeline" chart="timeline" class="last"></drill-down-chart>
</div>