<div id="site_menu">

    <div class="navbar">
        <div class="navleft">
            <div><a href="#!">
                    COMPANY LOGO
                </a></div>
            <!-- <a href="#news">News</a> -->


            <div class="dropdown">
                <div class="dropbtn">Short Interval Control</div>
                <!-- <i class="fa fa-caret-down"></i> -->
                <div class="dropdown-content">
                    <div class="siteCard" ng-repeat="x in siteData  | limitTo:3" ng-init="siteIndex = $index">
                        <img class="sitePicSmall" ng-src="assets/img/site_{{siteIndex}}.jpg">
                        <h2>{{x.name}}</h2>

                        <!-- <h4>Analysis</h4>
                        <div><a ng-href="">Bogger Movements</a></div>
                        <div><a ng-href="">Hauling Movements</a></div>
                        <div><a ng-href="">Drill Meters</a></div>
                        </br>

                        <h4>Materials</h4>
                        <div><a ng-href="">Production Tonnes</a></div>
                        <div><a ng-href="">Development Tonnes</a></div> -->
                        </br>
                        </br>


                        <div class="siteCardGrid">
                            <div>
                                <h3>Boggers</h3>
                                <div ng-repeat="y in x.equipmentByFunction.LOADING">
                                    <a ng-href="#!equip/{{y.ID}}">{{ y.ID }}</a>
                                </div>
                            </div>

                            <div>
                                <h3>Trucks</h3>
                                <div ng-repeat="y in x.equipmentByFunction.HAULING">
                                    <a ng-href="#!equip/{{y.ID}}">{{ y.ID }}</a>
                                </div>
                            </div>

                            <div>
                                <h3>Drills</h3>
                                <div ng-repeat="y in x.equipmentByFunction.P">
                                    <a ng-href="#!equip/{{y.ID}}">{{ y.ID }}</a>
                                </div>
                                <div ng-repeat="y in x.equipmentByFunction.D">
                                    <a ng-href="#!equip/{{y.ID}}">{{ y.ID }}</a>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

            <div class="dropdown">
                <div class="dropbtn">Monthly Compliance</div>
                <div class="dropdown-content">

                    <div class="droplist">
                        <div ng-repeat="x in siteData  | limitTo:3" ng-init="siteIndex = $index">
                            <h3>{{x.name}}</h3>
                            <p><a ng-href="#!monthly/{{siteIndex}}/0">Plan vs Compliance</a></p>
                            <p><a ng-href="#!monthly/{{siteIndex}}/1">Adjust Target Inputs</a> </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown">
                <div class="dropbtn">Reports & Analysis</div>
                <div class="dropdown-content">
                    <div class="droplist">

                        <h3>Reports</h3>
                        <a ng-href="#!reports">Report Generator</a>
                        <a ng-href="#!longterm">Long Term Data</a>

                        <h3>Call Ups</h3>

                        <a ng-href="#!callup/0">First Call-up</a>
                        <a ng-href="#!callup/1">Last Call-up</a>


                        <h3>Equipment</h3>
                        <a ng-href="#!timeline">Equipment Timeline</a>


                        <h3>Productivity</h3>
                        <a ng-href="#!productivity/D">Jumbo Productivity</a>
                        <a ng-href="#!productivity/P">Drill Productivity</a>
                        <a ng-href="#!productivity/HAULING">Truck Productivity</a>
                        <a ng-href="#!productivity/LOADING">Bogger Productivity</a>
                        <a ng-href="#!productivity/ALL">All Equipment Productivity</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="navright">


            <div class="util">
                <div class="utilbtn userbtn"><i class="far fa-user"></i></div>
                <div class="dropdown-content">
                    <h3><i class="far fa-user"></i> User</h3>
                    <div><a href="#">Log-out</a></div>
                    <div><a href="#">Report Issue</a></div>
                    <div><a href="#">User Manual</a></div>
                    <br>
                    <h3><i class="fas fa-info-circle"></i> i-Mine</h3>
                    <div><a href="#">About</a></div>
                    <div><a href="#">Legal</a></div>
                    <div><a href="#">Web</a></div>
                </div>
            </div>
            <div class="util">
                <div class="utilbtn"><i class="far fa-bell"></i><span class="alert-badge" ng-bind="alerts.length"
                        ng-hide="alerts.length < 1"></span></div>
                <div class="dropdown-content">

                    <!-- Alert System -->
                    <h3><i class="far fa-bell"></i> Alerts</h3>
                    <!-- <div class="flex">
                        <h3><i class="far fa-bell"></i> Alerts</h3>
                        <h3><i class="fas fa-sync-alt"></i></h3>
                    </div> -->
                    <div ng-repeat="alert in alerts">
                        <alert-box alert="alert"></alert-box>
                    </div>

                </div>
            </div>

            <div class="util">
                <div class="utilbtn"><i class="fas fa-database"></i></div>
                <div class="dropdown-content">
                    <h3> <i class="fas fa-database"></i> DB Connection</h3>
                    <div class="utilgrid">
                        <div>IP</div>
                        <div>{{meta.IP}}</div>

                        <div>Connection Status</div>
                        <div>OK!</div>

                        <div>Last Data Pull</div>
                        <div>{{meta.LastUpdate['date']}}</div>

                        <div>Next Data Pull</div>
                        <div>...todo</div>

                        <div>Local Data Size</div>
                        <div>...todo</div>
                    </div>
                </div>
            </div>


            <div class="util">
                <div class="utilbtn"><i class="fas fa-cogs"></i></div>
                <div class="dropdown-content">


                    <h3><i class="fas fa-cogs"></i> Preferences</h3>
                    <div class="utilgrid">
                        <div>Current Shift</div>
                        <div>
                            <label class="switch"><input ng-init="state=true" ng-model="state"
                                    ng-change="shiftSwitchChanged(state)" type="checkbox" id="togBtn" checked>
                                <div class="slider round" switch-on="Day" switch-off="Night"></div>
                            </label>
                        </div>

                        <div>Equipment Alerts</div>
                        <div>
                            <label class="switch"><input type="checkbox" id="togBtn" checked>
                                <div class="slider round" switch-on="Active" switch-off="Off"></div>
                            </label>
                        </div>
                    </div>


                    <h3><i class="far fa-calendar-alt"></i> Data Date</h3>
                    <div class="utilgrid">
                        <div>Date</div>
                        <div><input type="date"></div>
                        <div>Available Dates</div>
                    </div>




                    <h3><i class="fas fa-search"></i> Equipment Search</h3>
                    <!-- <input type="text" ng-model="search" ng-init="search ='Search by ID...'"> -->
                    <!-- <div ng-repeat="x in equipment | filter:search"><a ng-href="{{x.link}}">{{ x.id }}</a>
                    </div> -->

                    <input type="text" ng-model="searchText" placeholder="Search by ID...">
                    <div ng-init="equipList = createMenuEquipList()">
                        <div ng-repeat="x in equipList | filter:searchText">
                            <a ng-href="#!equip/{{x}}">{{ x }}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="util">
                <h5 ng-if="shift==0"><i class='shiftIconDay fas fa-sun'></i> {{shiftTitle}}</h5>
                <h5 ng-if="shift==1"><i class='shiftIconNight fas fa-moon'></i> {{shiftTitle}}</h5>
            </div>

        </div>


        <!-- <div>10/10/2018</i></div> -->
    </div>
</div>