<div ng-repeat="x in siteData" ng-init="siteIndex = $index">

    <div class="jumbogrid">
        <div ng-repeat="y in x.equipmentByFunction[function]" class="jumbogriditem">
            <div class="">
                <a ng-href="#!equip/{{siteIndex}}/{{y.Index}}" class="img_{{function}}">
                    <h1 class="center shadow">{{y.ID}}</h1>
                </a>
                <drill-down-header shift="{{shift}}" equip="x.equipment[y.Index]" class="first">
                </drill-down-header>
            </div>
            <div>
                <h2 class="center underline"><i class="fas fa-chart-bar"></i></h2>
                <div ng-repeat="(key, value) in x.equipment[y.Index].shiftData[shift].metricData"
                    class="center flex underline" ng-if="value.total != 0">
                    <div class="left">
                        <h4> {{value.name}}</h4>
                        <p class="light">{{value.activity}}</p>
                    </div>
                    <h3>{{value.total}}</h3>
                </div>
            </div>

            <div>
                <drill-down-chart title="Availability & Utilisation" chart="{{siteIndex}}-{{y.Index}}">
                </drill-down-chart>
            </div>
        </div>
    </div>
</div>