<div class="reportGrid">


    <button class="accordion equipSmallInfo" ng-click="accordionClick($event)">
        <div class="reportTitle left light">
            <p>Bogger Tonnes</p>
            <h3>All Tonnes By Mine By Time</h3>
        </div>
        <h4 ng-if="accordionActive">Close Report Options <i class="fas fa-chevron-circle-up"></i></h4>
        <h4 ng-if="!accordionActive">Open Report Options <i class="fas fa-chevron-circle-down"></i></h4>
    </button>

    <div class="panel">
        <h4 class="underline center">Preferences</h4>
        <div class="reportFlex">
            <div class="reportPrefText">
                <h5 class="light">Report Start Date & Shift: </h5>
            </div>

            <!-- <md-datepicker ng-model="startDate" md-placeholder="Enter date">
            </md-datepicker> -->
            <input type="date">

            <label class="switch"><input ng-init="rptStateStart=true" ng-model="rptStateStart"
                    ng-change="newFunction(rptStateStart)" type="checkbox" id="togBtn" checked>
                <div class="slider round" switch-on="Day" switch-off="Night"></div>
            </label>
        </div>

        <div class="reportFlex">
            <div class="reportPrefText">
                <h5 class="light">Report End Date & Shift: </h5>
            </div>
            <!-- <md-datepicker ng-model="endDate" md-placeholder="Enter date">
            </md-datepicker> -->
            <input type="date">

            <label class="switch"><input ng-init="rptStateEnd=true" ng-model="rptStateEnd"
                    ng-change="newFunction(rptStateEnd)" type="checkbox" id="togBtn" checked>
                <div class="slider round" switch-on="Day" switch-off="Night"></div>
            </label>

            <!-- <select ng-model="shiftEnd" ng-options="x.label for x in shiftOptions"></select> -->

        </div>
        <!-- <br /> -->


        <div ng-repeat="(key, value) in reports track by $index">
            <h3 class="underline center">{{key}}</h3>
            <div class="reportFlex">
                <div ng-repeat="e in value track by $index">
                    <report-item key="{{key}}" value="{{e}}" id="{{$parent.$index}}-{{$index}}">
                    </report-item>
                </div>
            </div>
        </div>

    </div>

    <!-- Report View -->
    <!-- <div ng-if="currentCSVView!==undefined"> -->
    <div>
        <div ng-if="!refresh">
            <div ui-grid="gridOptions" ui-grid-resize-columns ui-grid-exporter class="reportCSV"></div>
        </div>
    </div>


</div>