<div class="cup">

    <div class="mines-center {{$parent.backGroundClassBlur}}">

        <div class="underline flex">
            <div class="left">
                <h2 class="left"><i class="far fa-clock"></i> Equipment Timeline</h2>
                <!-- <h4 ng-if="shift==0"><i class='shiftIconDay fas fa-sun'></i> {{shiftTitle}}</h4>
                <h4 ng-if="shift==1"><i class='shiftIconNight fas fa-moon'></i> {{shiftTitle}}</h4> -->
            </div>
            <div class="right">
                <h3>10th November 2018</h3>
            </div>
        </div>


        <div class="equipFlatUsage h60px">
            <div></div>
            <div id="equip-timeline-time"></div>
        </div>


        <div ng-repeat="(key, e) in equipment">
            <div class="equipFlatUsage">
                <div><a href="#!equip/{{key}}" ng-bind="key"></a></div>
                <div class="equip-flat-usage" id="{{key}}">
                    <p>Loading, please wait...</p>
                </div>
            </div>
        </div>
    </div>
</div>