
/* Main rules here */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
  --headerHeight: 40px; 
}

body {
    /* margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5; */
    height: 100%;
    background: rgb(45, 45, 48);
    color: #adadad;
}


/* Typo      -------------------------- */


h1, h2, h3, h4, h5, h6, p
{
    margin: 0%;
    padding: 0%;
}

p{
  font-size: 12pt;
}

/* unvisited link */
a:link {
  color: rgb(170, 170, 170);
}

/* visited link */
a:visited {
  color: rgb(104, 128, 104);
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: rgb(77, 77, 134);
}





/* Site Grid -------------------------- */





/* Main content */
.sicDash {
    display: grid;        
    overflow: hidden;
    grid-template-columns: 1fr 8fr;
    grid-auto-flow: dense;                
}


