.landing
{
  font-family: inherit;
  margin: 10%;
  margin-top: 0%;
}

.landing > div:first-child
{
  display:flex;
  flex:1;  
  align-items: flex-end;      
  justify-content: space-between;
  min-height: 120px;  
}

.landtime
{ 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/*  Site layout stuff */
.landing > div:nth-child(2)
{  
  display:flex;
  justify-content: space-around;
}


.landcard
{
    text-align: center;
    min-width: 280px;
    margin: 1%;
    padding: 1%;
}

.landCardStats
{
  display: grid;
  grid-template-columns: 1fr 1fr;  
  grid-column-gap: 4%;
  width: 100%;
}