.mnth_target_grid {
    /* box-shadow: 4px 6px 8px 0px #000000ba;
     background-color: rgba(0, 67, 109, 1);    */
    /* background-color: var(--cardColorBG); */
    margin: 0.5%;
    /* margin-bottom: 2px; */
    padding: 5px;  
    
    /* height: 600px; */
    width: 350px;  
  
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;    
  }


  .mnth_target_grid:hover {
    background: var(--menubtnhover);
  }