<div>
    <div class="flex h100pc">

        <div class="overline underline"
            ng-init="operator = $ctrl.lastEvent.operator == '.' ? ' No Operator' : $ctrl.lastEvent.operator">


            <h5 class="light"><i class="far fa-user"></i> Operator</h5>
            <h4 class="underline" ng-class="{'cup-redwarn': ($ctrl.lastEvent.operator == '.')}"><i
                    class="fas fa-exclamation-triangle" ng-if="$ctrl.lastEvent.operator == '.'"></i>{{operator}}
            </h4>


            <h5 class="light"><i class="fas fa-map"> Site</i></h5>
            <h4>{{$ctrl.lastEvent.mineArea}}</h4>

        </div>

        <div class="overline underline">
            <h5 class="light"><i class="fas fa-map-marker-alt"></i> Location</h5>
            <h4 class="underline">{{$ctrl.lastEvent.location}}</h4>


            <h5><i class="fas fa-phone-volume"></i> Last Event</h5>
            <h4>{{$ctrl.lastEventTime}}</h4>
        </div>


        <div class="overline underline">

            <h5 class="light"><i class="fas fa-clock"></i> Time Since
                Callup</h5>
            <h4 class="underline" ng-class="{'cup-redwarn': ($ctrl.late == 1)}">{{$ctrl.timeSinceLastCall}} </h4>



            <h5 class="light"><span ng-style='$ctrl.getEquipStyle($ctrl.lastEvent.majorGroup)'><i
                        class="fas fa-info-circle"></i></span> Status</h5>

            <h4>{{$ctrl.lastEvent.status}}</h4>


        </div>

        <!-- <div class="equipTitleGrid">


            <div class="equipTitleGridEntry"
                ng-init="operator = $ctrl.lastEvent.operator == '.' ? ' No Operator' : $ctrl.lastEvent.operator">

                <div class="right vertical">
                    <h4><i
                            ng-class="($ctrl.lastEvent.operator == '.' ? 'fas fa-exclamation-triangle cup-redwarn':'fas fa-user')"></i>
                    </h4>
                </div>
                <div class="left vertical">
                    <h5 ng-class="{'cup-redwarn': ($ctrl.lastEvent.operator == '.')}">{{operator}}</h5>
                </div>
            </div>


            <div class="equipTitleGridEntry">
                <div class="right vertical">
                    <h4><i class="fas fa-phone-volume"></i></h4>
                </div>
                <div class="left vertical">
                    <h5>{{$ctrl.lastEventTime}}</h5>
                </div>
            </div>


            <div class="equipTitleGridEntry">
                <div class="right vertical">
                    <h4><i class="fas fa-clock" ng-class="{'cup-redwarn': ($ctrl.late == 1)}"></i></h4>
                </div>
                <div class="left vertical">
                    <h5 ng-class="{'cup-redwarn': ($ctrl.late == 1)}">{{$ctrl.timeSinceLastCall}} </h5>
                </div>
            </div>


            <div class=" equipTitleGridEntry">
                <div class="right vertical">
                    <h4><i class="fas fa-map"></i></h4>
                </div>
                <div class="left vertical">
                    <h5>{{$ctrl.lastEvent.mineArea}}</h5>
                </div>
            </div>

            <div class="equipTitleGridEntry">
                <div class="right vertical">
                    <h4><i class="fas fa-map-marker-alt"></i></h4>
                </div>
                <div class="left vertical">
                    <h5>{{$ctrl.lastEvent.location}}</h5>
                </div>
            </div>



            <div class="equipTitleGridEntry">
                <div class="right vertical">
                    <h4><span ng-style='$ctrl.getEquipStyle($ctrl.lastEvent.majorGroup)'><i
                                class="fas fa-info-circle"></i></span></h4>
                </div>
                <div class="left vertical">
                    <h5>{{$ctrl.lastEvent.status}}</h5>
                </div>
            </div>

        </div>-->

    </div>
</div>

<!-- 
<div class="equipTitleGridEntry"
                ng-init="operator = $ctrl.lastEvent.operator == '.' ? ' No Operator' : $ctrl.lastEvent.operator">

                <div class="right vertical">
                    <h4><i
                            ng-class="($ctrl.lastEvent.operator == '.' ? 'fas fa-exclamation-triangle cup-redwarn':'fas fa-user')"></i>
                    </h4>
                </div>
                <div class="left vertical">
                    <h5 ng-class="{'cup-redwarn': ($ctrl.lastEvent.operator == '.')}">{{operator}}</h5>
                </div>
            </div>


            <div class="equipTitleGridEntry">
                <div class="right vertical">
                    <h4><i class="fas fa-phone-volume"></i></h4>
                </div>
                <div class="left vertical">
                    <h5>{{$ctrl.lastEventTime}}</h5>
                </div>
            </div>


            <div class="equipTitleGridEntry">
                <div class="right vertical">
                    <h4><i class="fas fa-clock" ng-class="{'cup-redwarn': ($ctrl.late == 1)}"></i></h4>
                </div>
                <div class="left vertical">
                    <h5 ng-class="{'cup-redwarn': ($ctrl.late == 1)}">{{$ctrl.timeSinceLastCall}} </h5>
                </div>
            </div>


            <div class=" equipTitleGridEntry">
                <div class="right vertical">
                    <h4><i class="fas fa-map"></i></h4>
                </div>
                <div class="left vertical">
                    <h5>{{$ctrl.lastEvent.mineArea}}</h5>
                </div>
            </div>

            <div class="equipTitleGridEntry">
                <div class="right vertical">
                    <h4><i class="fas fa-map-marker-alt"></i></h4>
                </div>
                <div class="left vertical">
                    <h5>{{$ctrl.lastEvent.location}}</h5>
                </div>
            </div>



            <div class="equipTitleGridEntry">
                <div class="right vertical">
                    <h4><span ng-style='$ctrl.getEquipStyle($ctrl.lastEvent.majorGroup)'><i
                                class="fas fa-info-circle"></i></span></h4>
                </div>
                <div class="left vertical">
                    <h5>{{$ctrl.lastEvent.status}}</h5>
                </div>
            </div> -->