<!DOCTYPE HTML>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">


    <link rel="stylesheet" href="charts.css">
    <link rel="stylesheet" href="callup.css">
    <link rel="stylesheet" href="menu.css">
    <link rel="stylesheet" href="admin.css">
</head>



<body style="background-color: rgb(40, 44, 68);">
    <div ng-app="myApp" ng-controller="myCtrl" class="cup">
        <div class="underline">
            <h1><i class="fas fa-hammer"></i> Admin</h1>
        </div>
        <div>
            <button id="myBtn" ng-click="regenerateMissing()">Regenerate Missing</button>
            <button id="myBtn" ng-click="regenerateAll()">Regenerate All</button>
            <button id="myBtn" ng-click="createAll()">Create All</button>
        </div>
        </br>

        <div class="admin-grid underline">
            <h3>Data</h3>
            <h3>Timestamp</h3>
            <h3>IP</h3>
            <h3>User</h3>
            <h3>Version</h3>
        </div>
        <div ng-repeat="x in dataStatus" class="admin-grid">
            <h3><i ng-class="x.class"></i> {{ x.Date}} </h3>
            <h4>{{x.LastUpdate.date}}</h4>
            <p>{{ x.IP}}</p>
            <p>{{ x.User}}</p>
            <p>{{ x.Version}}</p>
        </div>
    </div>
</body>

</html>


<!-- Angular -->
<script type="text/javascript" src="../vendors/ng/angular.min.js"></script>
<script type="text/javascript" src="../vendors/ng/angular-route.min.js"></script>

<script type="text/javascript" src="admin.js"></script>