<div class="equipGrid" ng-cloak ng-if="equip != undefined">
    <div class="equipHeader first underline">
        <!-- <div class="img_{{equip.function}}"> -->
        <div>
            <h2 class="shadow">
                <i ng-class='equipStyleIcon[lastEvent.majorGroup]' ng-style='equipStyleColor[lastEvent.majorGroup]'>
                </i> {{equip.id}}
                </span>

            </h2>
        </div>
        <div class="right">
            <drill-down-header shift="{{shift}}" equip="equip" style-group="flex flex-right" style-item="">
            </drill-down-header>
        </div>
    </div>

    <drill-down-chart name="Metrics Per Hour" chart="mph"></drill-down-chart>
    <drill-down-chart name="Time Usage Split" chart="tus"></drill-down-chart>

    <drill-down-chart name="Availability & Utilisation" chart="uofa"></drill-down-chart>

    <drill-down-chart name="Operating Events" chart="p1"></drill-down-chart>
    <drill-down-chart name="Idle Events" chart="p2"></drill-down-chart>
    <drill-down-chart name="Down Events" chart="p3"></drill-down-chart>

    <drill-down-chart name="Event Timeline" chart="timeline" class="last"></drill-down-chart>
</div>


<!-- The NG Route wasn't able to resolve the equipment -->
<div ng-cloak ng-if="equip == undefined">
    </br>
    </br>
    </br>
    <div class="flex flex-center">
        <div class="equipSmallInfo w50pc">
            <h2 class="shadow">
                <i ng-class='equipStyleIcon["DOWN"]' ng-style='equipStyleColor["DOWN"]'>
                </i> No data found...
            </h2>
            <h4>No data was found for <b>{{routeID}}</b> during the {{shiftTitle}} on {{siteDataDate.SHORT}}
                The equipment may not have been active during this time and not have logged any entries to the
                database. Causes of this error could include trying to access a link to this equipment whilst the site
                is set to a date or shift that doesn't contain it. </br></br>
                If it was expected that data should be available, please Report an Issue.
            </h4>
        </div>
    </div>
</div>