<!-- <div class="flex">
    <div style="height: 200px; width: 300px;">
        <drill-down-chart name="Poo" chart="g"></drill-down-chart>
    </div>
    <div style="height: 200px; width: 300px;">
        <drill-down-chart name="Poo" chart="g2"></drill-down-chart>
    </div>
</div> -->


<div class="equipGrid2" ng-cloak ng-if="equip != undefined">
    <div class="equipHeader first underline">
        <div>
            <h2 class="shadow">
                <i ng-class='equipStyleIcon[lastEvent.majorGroup]' ng-style='equipStyleColor[lastEvent.majorGroup]'>
                </i> {{equip.id}}
                </span>

            </h2>
        </div>
        <div class="right">
            <drill-down-header shift="{{shift}}" equip="equip" style-group="flex flex-right" style-item="">
            </drill-down-header>
        </div>
    </div>



    <!-- <drill-down-chart name="Event Timeline" chart="timeline" class="firstTL"></drill-down-chart> -->
    <div id="timeline" class="firstTL"></div>

    <drill-down-chart name="Metrics Per Hour" chart="mph"></drill-down-chart>
    <!-- <drill-down-chart name="Time Usage Split" chart="tus"></drill-down-chart> -->
    <drill-down-chart name="Availability & Utilisation" chart="uofa"></drill-down-chart>
    <drill-down-chart name="Time Usage Model Waterfall" chart="tumwf"></drill-down-chart>

    <div class="equipParetoGrid">
        <drill-down-chart name="{{config.TUMIndex[0]}}" chart="p0"></drill-down-chart>
        <drill-down-chart name="{{config.TUMIndex[2]}}" chart="p2"></drill-down-chart>
        <drill-down-chart name="{{config.TUMIndex[4]}}" chart="p4"></drill-down-chart>
        <drill-down-chart name="{{config.TUMIndex[1]}}" chart="p1"></drill-down-chart>
        <drill-down-chart name="{{config.TUMIndex[3]}}" chart="p3"></drill-down-chart>
        <drill-down-chart name="{{config.TUMIndex[5]}}" chart="p5"></drill-down-chart>
    </div>

    <div class="equipGaugeGrid">
        <drill-down-chart name="Availability" chart="gA"></drill-down-chart>
        <drill-down-chart name="Utilisation of Availability" chart="gUofA"></drill-down-chart>
        <drill-down-chart name="Efficency" chart="gE"></drill-down-chart>
        <drill-down-chart name="Total Asset Utilisation" chart="gAU"></drill-down-chart>
    </div>

</div>



<!-- The NG Route wasn't able to resolve the equipment so show something for the user-->
<div ng-cloak ng-if="equip == undefined" style="background: rgba(0, 0, 0, 0.35); height: 100%;" ;>
    </br>
    </br>
    </br>
    <div class="flex flex-center">
        <div class="smallInfo w50pc">
            <h2 class="shadow">
                <i ng-class='equipStyleIcon["DOWN"]' ng-style='equipStyleColor["DOWN"]'>
                </i> No data found...
            </h2>
            <h4>No data was found for <b>{{routeID}}</b> during the <b>{{shiftTitle}}</b> on
                <b>{{siteDataDate.SHORT}}</b>
                The equipment may not have been active during this time and not have logged any entries to the
                database. Causes of this error could include trying to access a link to this equipment whilst the site
                is set to a date or shift that doesn't contain it. </br>

            </h4>
        </div>
    </div>
</div>