<div class="landing">

    <!-- Top date and time -->
    <div class="underline landingTop">
        <div>
            <h2>Welcome...</h2>
        </div>
        <div class="landtime">

            <div class="landtimetext" ng-bind="clock | date:'HH:mm'">
            </div>

            <div>
                <div class="flex flex-right">
                    <h4 ng-if="shift==0"><i class='shiftIconDay fas fa-sun'></i> {{shiftTitle}}</h4>
                    <h4 ng-if="shift==1"><i class='shiftIconNight fas fa-moon'></i> {{shiftTitle}}</h4>
                </div>
                <div class="flex flex-right">
                    <h4 ng-bind="dateString"></h4>
                </div>
            </div>
        </div>
    </div>

    <!-- Site info -->
    <div>
        <div class="landcard" ng-repeat="x in siteData" ng-init="siteIndex = $index">

            <!-- <img class="sitePicBig" ng-src="assets/img/site_{{siteIndex%3}}.jpg"> -->
            <!-- <a class="imgLink" href=#><img class="sitePicBig" ng-src="assets/img/site_{{siteIndex}}.jpg"> </a>
            <span>
                <h2><a ng-href="#!site/{{siteIndex}}" ng-bind="x.name">
                    </a></h2>
            </span> -->


            <a ng-href="#!site/{{siteIndex}}"><img class="sitePicBig" ng-src="assets/img/site_{{siteIndex%3}}.jpg" />
                <span class="sitePicLabel">
                    <h3 ng-bind="x.name"></h3>
                </span>
            </a>

            <br />
            <br />

            <!-- <h2><a ng-href="#!site/{{siteIndex}}" ng-bind="x.name">
                </a><img class="sitePicBig" ng-src="assets/img/site_{{siteIndex}}.jpg"></h2> -->

            <div class="overline">
                <div ng-repeat="(key, value) in siteSummary[siteIndex] track by $index" class="underline">
                    <div class="center flex" ng-class="{'prodMetricBG' : $index == 0}">
                        <div class="left">
                            <div ng-if="$index==0">
                                <h4 class="shadow"><i ng-class="value['icon']"></i> {{key}}</h4>
                                <h4 class="light shadow">{{value["details"]}}</h4>
                            </div>
                            <div ng-if="$index!=0">
                                <h5><i ng-class="value['icon']"></i> {{key}}</h5>
                                <p class="light">{{value["details"]}}</p>
                            </div>
                        </div>
                        <div ng-if="$index==0">
                            <h2 ng-class="{'cup-redwarn': (value['value'] < 100)}">{{value["value"]}}{{value["suffix"]}}
                            </h2>
                        </div>
                        <div ng-if="$index!=0">
                            <h3 class="shadow" ng-class="{'cup-redwarn': (value['value'] < 100)}">
                                {{value["value"]}}{{value["suffix"]}}</h3>
                        </div>

                    </div>
                </div>
            </div>
            <!-- <i style="color: rgb(0, 255, 21);">&#9650;</i> -->

            </br>
            <h4 class="underline"><i class="far fa-bell"></i> Alerts</h4>
            <div ng-repeat="alert in alerts">
                <alert-box alert="alert"></alert-box>
            </div>
        </div>
    </div>
</div>