<div class="navbar">

    <!-- Main Menu  -->
    <div class="navleft">
        <div class="navItem">
            <div><a href="#!">COMPANY LOGO</a></div>
        </div>

        <!-- Short Interval Control -->
        <div class="dropdown">
            <div class="dropbtn">Short Interval Control</div>
            <div class="dropdown-content">
                <div class="siteCard" ng-repeat="x in siteData  | limitTo:3" ng-init="siteIndex = $index">
                    <img class="sitePicSmall" ng-src="assets/img/site_{{siteIndex}}.jpg">
                    <a ng-href="#!site/{{siteIndex}}">
                        <h3>{{x.name}}</h3>
                    </a>
                    <!-- <h4>Analysis</h4>
                        <div><a ng-href="">Bogger Movements</a></div>
                        <div><a ng-href="">Hauling Movements</a></div>
                        <div><a ng-href="">Drill Meters</a></div>
                        </br>

                        <h4>Materials</h4>
                        <div><a ng-href="">Production Tonnes</a></div>
                        <div><a ng-href="">Development Tonnes</a></div> -->

                    </br>
                    </br>


                    <div class="siteCardGrid">
                        <div>
                            <h4 class="left">Boggers</h4>
                            <div ng-repeat="y in x.equipmentByFunction.LOADING"
                                ng-init="e = getEquipmentLastEvent(equipment[y])">
                                <a ng-href="#!equip/{{y}}" class="left"><i ng-class='equipStyleIcon[e.majorGroup]'
                                        ng-style='equipStyleColor[e.majorGroup]'></i> {{ equipment[y].id}}</a>
                                <!-- <p class="left"> <i ng-class='equipStyleIcon[e.majorGroup]'
                                        ng-style='equipStyleColor[e.majorGroup]'></i>
                                    {{ equipment[y.ID].id}}</p> -->
                            </div>
                        </div>

                        <div>
                            <h4 class="left">Trucks</h4>
                            <div ng-repeat="y in x.equipmentByFunction.HAULING"
                                ng-init="e = getEquipmentLastEvent(equipment[y])">
                                <a ng-href="#!equip/{{y}}" class="left"><i ng-class='equipStyleIcon[e.majorGroup]'
                                        ng-style='equipStyleColor[e.majorGroup]'></i> {{ equipment[y].id}}</a>
                            </div>
                        </div>

                        <div>
                            <h4 class="left">Drills</h4>
                            <div ng-repeat="y in x.equipmentByFunction.P"
                                ng-init="e = getEquipmentLastEvent(equipment[y])">
                                <a ng-href="#!equip/{{y}}" class="left"><i ng-class='equipStyleIcon[e.majorGroup]'
                                        ng-style='equipStyleColor[e.majorGroup]'></i> {{ equipment[y].id}}</a>
                            </div>
                            <div ng-repeat="y in x.equipmentByFunction.D"
                                ng-init="e = getEquipmentLastEvent(equipment[y])">
                                <a ng-href="#!equip/{{y}}" class="left"><i ng-class='equipStyleIcon[e.majorGroup]'
                                        ng-style='equipStyleColor[e.majorGroup]'></i> {{ equipment[y].id}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dropdown">
            <div class="dropbtn">Monthly Compliance</div>
            <div class="dropdown-content">
                <div>
                    <div ng-repeat="x in siteData | limitTo:3" ng-init="siteIndex = $index">
                        <div class="droplist">
                            <h3>{{x.name}}</h3>
                            <a ng-href="#!monthly/{{siteIndex}}/0">Plan vs Compliance</a>
                            <a ng-href="#!monthly/{{siteIndex}}/1">Adjust Target Inputs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dropdown">
            <div class="dropbtn">Reports & Analysis</div>
            <div class="dropdown-content">
                <div class="droplist">

                    <h3>Reports</h3>
                    <a ng-href="#!reports">Report Generator</a>
                    <a ng-href="#!longterm">Long Term Data</a>

                    <h3>Call Ups</h3>

                    <a ng-href="#!callup/0">First Call-up</a>
                    <a ng-href="#!callup/1">Last Call-up</a>


                    <h3>Equipment</h3>
                    <a ng-href="#!timeline">Equipment Timeline</a>


                    <h3>Productivity</h3>
                    <a ng-href="#!productivity/D">Jumbo Productivity</a>
                    <a ng-href="#!productivity/P">Drill Productivity</a>
                    <a ng-href="#!productivity/HAULING">Truck Productivity</a>
                    <a ng-href="#!productivity/LOADING">Bogger Productivity</a>
                    <a ng-href="#!productivity/ALL">All Equipment Productivity</a>
                </div>
            </div>
        </div>
    </div>



    <!-- Utilities and Data stuff -->
    <div class="navright">

        <!-- User Menu -->
        <div class="util userbtn">
            <div class="utilbtn">
                <h2><i class="far fa-user"></i></h2>
            </div>
            <div class="dropdown-content">
                <div class="droplist">
                    <h3><i class="far fa-user"></i> User</h3>
                    <a ng-href="login.html">Log-out</a>
                    <a ng-href="#">Report Issue</a>
                    <a ng-href="#">User Manual</a>
                    <br>
                    <h3><i class="fas fa-info-circle"></i> i-Mine</h3>
                    <a ng-href="#">About</a>
                    <a ng-href="#">Legal</a>
                    <a ng-href="#">Web</a>
                </div>
            </div>
        </div>

        <!-- Alerts -->
        <div class="util">
            <div class="utilbtn"><i class="far fa-bell"></i><span class="alert-badge" ng-bind="alerts.length"
                    ng-hide="alerts.length < 1"></span>
            </div>
            <div class="dropdown-content">

                <!-- Alert System -->
                <h3><i class="far fa-bell"></i> Alerts</h3>
                <!-- <div class="flex">
                        <h3><i class="far fa-bell"></i> Alerts</h3>
                        <h3><i class="fas fa-sync-alt"></i></h3>
                    </div> -->
                <div ng-repeat="alert in alerts">
                    <alert-box alert="alert"></alert-box>
                </div>

            </div>
        </div>

        <!-- DB Connection -->
        <div class="util">
            <div class="utilbtn"><i class="fas fa-database"></i></div>
            <div class="dropdown-content">
                <h3> <i class="fas fa-database"></i> DB Connection</h3>
                <div class="utilgrid">
                    <div>IP</div>
                    <div>{{meta.IP}}</div>

                    <div>Connection Status</div>
                    <div>OK!</div>

                    <div>Last Data Pull</div>
                    <div>{{meta.LastUpdate['date']}}</div>

                    <div>Next Data Pull</div>
                    <div>5m 24s</div>

                    <div>Local Data Size</div>
                    <div>...todo</div>
                </div>
            </div>
        </div>

        <!-- Preferences -->
        <div class="util">
            <div class="utilbtn"><i class="fas fa-cogs"></i></div>
            <div class="dropdown-content">


                <h3><i class="fas fa-cogs"></i> Preferences</h3>
                <div class="utilgrid">
                    <div>Current Shift</div>
                    <div>
                        <label class="switch"><input ng-init="state=true" ng-model="state"
                                ng-change="shiftSwitchChanged(state)" type="checkbox" id="togBtn" checked>
                            <div class="slider round" switch-on="Day" switch-off="Night"></div>
                        </label>
                    </div>

                    <div>Equipment Alerts</div>
                    <div>
                        <label class="switch"><input type="checkbox" id="togBtn" checked>
                            <div class="slider round" switch-on="Active" switch-off="Off"></div>
                        </label>
                    </div>

                    <div>Background</div>
                    <div>
                        <label class="switch"><input ng-init="imgState=true" ng-model="imgState"
                                ng-change="switchBackground(imgState)" type="checkbox" id="togBtn" checked>
                            <div class="slider round" switch-on="Image" switch-off="Gradient"></div>
                        </label>
                    </div>

                    <div>24hr View</div>
                    <div>
                        <label class="switch"><input type="checkbox" id="togBtn">
                            <div class="slider round" switch-on="On (24hr)" switch-off="Off (12hr)"></div>
                        </label>
                    </div>
                </div>

                <h3><i class="far fa-calendar-alt"></i> Data</h3>
                <div class="utilgrid">
                    <div>Active Date</div>
                    <div>
                        <h4>{{siteDataDate.SHORT}}</h4>
                    </div>
                    <div>Trailing Week</div>
                    <div>
                        <div class="flex" ng-repeat="x in cachedData">
                            <button ng-click="setNewSiteData(x)"> {{ convertToNiceDateObject(x[4].Date).LONG }}
                            </button>
                        </div>
                    </div>
                    <!-- <div>Specific Date</div>
                    <div class="group">
                        
                        <input type="text" id="test">
                    </div> -->
                </div>

                <h3><i class="fas fa-search"></i> Search</h3>

                <input type="text" ng-model="searchText" ng-init="searchText='Enter equipment ID...'"
                    placeholder="Search by ID...">
                <div>
                    <div class="droplist" ng-repeat="x in equipList | filter:searchText"
                        ng-init="e = getEquipmentLastEvent(equipment[x])">
                        <div class="searchResult underline left">
                            <a ng-href="#!equip/{{x}}">
                                <h5><i ng-class='equipStyleIcon[e.majorGroup]'
                                        ng-style='equipStyleColor[e.majorGroup]'></i>
                                    {{ x }}</h5>
                            </a>
                            <p>{{ e.status }}</p>
                            <p><i>{{ e.operator }}</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="navItem">
            <div>|</div>
        </div>

        <!-- Active Site Date -->
        <!-- <div class="util">
            <div class="utilbtn">
                <h5><i class="far fa-calendar-alt"></i> {{siteDataDate.SHORT}}</h5>
            </div>
            <div class="dropdown-content">

                <div class="flex" ng-repeat="x in cachedData">
                    <button ng-click="setNewSiteData(x)"> {{ convertToNiceDateObject(x[4].Date).LONG }}
                    </button>
                </div>

            </div>
        </div> -->
        <div class="navItem">
            <div>
                <h5><i class="far fa-calendar-alt"></i> {{siteDataDate.SHORT}}</h5>
            </div>
        </div>

        <!-- Active Day Shift -->
        <div class="navItem">
            <div>
                <h5 ng-if="shift==0"><i class='shiftIconDay fas fa-sun'></i> {{shiftTitle}}</h5>
                <h5 ng-if="shift==1"><i class='shiftIconNight fas fa-moon'></i> {{shiftTitle}}</h5>
            </div>
            <!-- <div>
                <shift-text></shift-text>
            </div> -->
        </div>

    </div>


    <!-- <div>10/10/2018</i></div> -->
</div>