<div class="cup">

    <div class="mines-center {{$parent.backGroundClassBlur}}">

        <div class="left">
            <div class="flex flex-start">
                <div class="sitePicMargin rightline">
                    <img class="sitePicBig" ng-src="assets/img/site_{{siteIndex}}.jpg">
                </div>
                <div>
                    <h3 class="left"> {{site.name}}</h3>
                    <h2>Adjust Monthly Targets...</h2>
                </div>
            </div>
        </div>
        <br />


        <!-- <div class="lockcontainer">
             <span class="lock" ng-click="toggleLock($event)"></span> 

        </div> -->


        <div class="center">

            <h4 class="underline">
                <div class="monthlyTargetGrid">
                    <div class="left">Location</div>
                    <div class="left">Monthly Target</div>
                    <div class="left">Active</div>
                    <div class="left flex">Lock <h4><i class="fas fa-lock locked fa-lock-open" ng-init="biglock=0"
                                ng-click="biglock= biglock == 0? 1:0; toggleLock($event, -1)" ng-model="biglock"></i>
                        </h4>
                    </div>
                </div>
            </h4>


            <div ng-repeat="x in entry" class="monthlyTargetGrid">
                <!-- <div class="flex">
                    <h4>{{x.data[3]}}</h4>
                    <h4> - </h4>
                    <h4>{{x.data[4]}}</h4>
                    <h4> - </h4>
                    <h4>{{x.data[5]}}</h4>
                </div> -->
                <div class="left">
                    <h4>{{x.data[3]}}-{{x.data[4]}}-{{x.data[5]}}</h4>
                </div>
                <div class="flex flex-start left">
                    <p class="light">Target: </p>
                    <h3><input ng-disabled="x.lock == 1"></h3>
                </div>

                <div class="left">
                    <label class="switch"><input type="checkbox" id="togBtn" checked ng-disabled="x.lock == 1">
                        <div class="slider round" switch-on="Active" switch-off="Inactive"></div>
                    </label>
                </div>
                <div class="left">
                    <h4><i class="fas fa-lock locked fa-lock-open" ng-class="getLockClass($index)"
                            ng-click="toggleLock($event, $index)"></i></h4>
                </div>

            </div>
        </div>

        </br>
        <div class="center">
            <!-- <h4>Upload targets to server...</h4> -->
            <h1>
                <button ng-click="uploadToServer()" class="equipSmallInfo">
                    <h4>Upload targets to server...</h4>
                    <!-- <i class="fas fa-cloud-upload-alt"></i> -->
                </button>
            </h1>
        </div>
    </div>


    <!-- <div ui-grid="gridOptions"></div> -->
</div>
</div>