<div class="cup">

    <div class="flex flex-start underline">
        <div class="sitePicMargin">
            <img class="sitePicTiny" ng-src="assets/img/site_{{siteIndex}}.jpg">
        </div>
        <h2 class="left">{{site.name }} - Adjust Monthly Targets</h2>
        <div>
        </div>
    </div>
    </br>
    <div class="mines-center {{$parent.backGroundClassBlur}}">

        <!-- <input type="file" accept=".csv" on-read-file callback-fn="onFileReadComplete(arg1)" />
        <div my-directive callback-fn="ctrlFn(arg1)"></div> -->

        <!-- <button id="myBtn" ng-click="getConfigs()">Get Configs</button> -->
        <div class="center">

            <input type="file" accept=".csv" file-reader callback-fn="onFileReadComplete(arg1)" />
            <button id="myBtn" ng-click="uploadMonthlyPlan()">Upload</button>
            <button id="myBtn" ng-click="getMonthlyPlan()">Get</button>
            <input type="text" id="test">

            <div class="jumbogrid">
                <div ng-repeat="(key, value) in distinctNames track by $index">

                    <!-- <img class="sitePicSmall" ng-src="assets/img/site_{{siteIndex%3}}.jpg"> -->
                    <h3> {{ configFiles.configSites[value]}}</h3>

                    <!-- Header -->
                    <div ng-repeat="x in fileContent" class="mnth_target_grid bold underline left light" ng-if="$first">
                        <div ng-repeat="y in x" ng-if="!$first">
                            <h4>{{y}}</h4>
                        </div>
                    </div>

                    <div ng-repeat="x in fileContent" ng-if="!$first" ng-init="rowIndex = $index">
                        <div class="mnth_target_grid left" ng-if="fileContent[rowIndex][0] == $parent.value">
                            <div ng-repeat="y in x" class="left" ng-if="!$first && !$last">
                                <p>{{y}}</p>
                            </div>

                            <div ng-repeat="y in x" class="" ng-if="!$first && $last" ng-init="colIndex = $index">

                                <input type="number" string-to-number ng-model="fileContent[rowIndex][colIndex]"
                                    ng-min="0" required class="right">

                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <!-- {{fileContent[1]}} -->

        </div>

        <br />





        <!-- <div class="center">

            <h4 class="underline">
                <div class="monthlyTargetGrid">
                    <div class="left">Location</div>
                    <div class="left">Monthly Target</div>
                    <div class="left">Active</div>
                    <div class="left flex">Lock <h4><i class="fas fa-lock locked fa-lock-open" ng-init="biglock=0"
                                ng-click="biglock= biglock == 0? 1:0; toggleLock($event, -1)" ng-model="biglock"></i>
                        </h4>
                    </div>
                </div>
            </h4>


            <div ng-repeat="x in entry" class="monthlyTargetGrid">
                <div class="left">
                    <h4>{{x.data[3]}}-{{x.data[4]}}-{{x.data[5]}}</h4>
                </div>
                <div class="flex flex-start left">
                    <p class="light">Target: </p>
                    <h3><input ng-disabled="x.lock == 1"></h3>
                </div>

                <div class="left">
                    <label class="switch"><input type="checkbox" id="togBtn" checked ng-disabled="x.lock == 1">
                        <div class="slider round" switch-on="Active" switch-off="Inactive"></div>
                    </label>
                </div>
                <div class="left">
                    <h4><i class="fas fa-lock locked fa-lock-open" ng-class="getLockClass($index)"
                            ng-click="toggleLock($event, $index)"></i></h4>
                </div>

            </div>
        </div>

        </br>
        <div class="center">
            <h1>
                <button ng-click="uploadToServer()" class="equipSmallInfo">
                    <h4>Upload targets to server...</h4>
                </button>
            </h1>
        </div> -->
    </div>


    <!-- <div ui-grid="gridOptions"></div> -->
</div>
</div>