<div class="cup">


    <!-- <div class="page-header"> -->
    <!-- <div class="flex flex-start underline">
        <div class="sitePicMargin">
            <img class="sitePicTiny" ng-src="assets/img/site_{{siteIndex}}.jpg">
        </div>
        <h2 class="left">{{site.name}} - <span class="light">Monthly Plan vs. Compliance</span></h2>

        <div>
        </div>
    </div>
    </br> -->

    <section-title icon="far fa-calendar-alt" title="Monthly Plan vs. Compliance" right="" page="MONTHLY">
    </section-title>


    <!-- <div class="mines-center {{$parent.backGroundClassBlur}}"> -->

    <div class="flex">

        <div class="overline underline">
            <h5 class="light"><i class="fas fa-weight-hanging"></i> Target Tonnes</h5>
            <h3 class="underline">{{ meta.totalMetricTarget | number : 0}}</h3>
            <h5 class="light"><i class="fas fa-chart-line"></i></i> Current Average</h5>
            <h3> {{ meta.averageCurrent | number:0}}</h3>
        </div>

        <div class="overline underline">
            <h5 class="light"><i class="fas fa-weight-hanging"></i> Actual Tonnes</h5>
            <h3 class="underline">{{ meta.totalMetricActual | number: 0}}</h3>
            <h5 class="light"><i class="fas fa-chart-line"></i></i> Required Average</h5>
            <h3>{{ meta.averageRequired | number:0}}</h3>
        </div>

        <div>
            <h4 class="light">Spatial Compliance</h4>
            <h1 style="text-align: center">
                {{ meta.complianceSpatial*100 | number : 0}}%</h1>
        </div>

        <div>
            <h4 class="light">Volumetric Compliance</h4>
            <h1 style="text-align: center">
                {{ meta.complianceVolumetric*100 | number : 0}}%</h1>
        </div>

        <div class="overline underline">
            <h5 class="light"><i class="fas fa-clock"></i> Time Remaining</h5>
            <h3 class="underline">15D 12Hrs</h3>
            <h5 class=" light"><i class="fas fa-clock"></i></i> Month Passed</h5>
            <h3>{{ meta.timePassedInMonth * 100 }}%</h3>
        </div>
    </div>
    </br>



    <!-- Chart types switch depending on user preference -->

    <div id="monthlyChart" class="h80pc" ng-if="monthlyViewAsBars"></div>

    <div class="jumbogrid" ng-if="!monthlyViewAsBars">
        <div ng-repeat="y in chartData" class="mnth_gauge">
            <drill-down-chart name="{{y[1]}}" chart="{{y[1]}}"></drill-down-chart>
        </div>
    </div>

</div>