<div class="cup">

    <section-title icon="far fa-question-circle" title="Equipment Status" right="" page="PRODUCTIVITY"></section-title>


    <!-- Compact View -->
    <div class="jumbogrid" ng-if="productivityViewAsCompact">
        <div ng-repeat="y in equipToShow" class="jumbogriditemCompact">
            <div class="" ng-init="e = getEquipmentLastEvent(y)">

                <div class="bg_black50 img_{{y.function}} equipInfoAssetHeader">
                    <h4 class="shadow"> <a ng-href="#!equip/{{y.id}}"><i ng-class='equipStyleIcon[e.majorGroup]'
                                ng-style='equipStyleColor[e.majorGroup]'></i>
                            {{y.id}}</a></h4>
                </div>

                <drill-down-header shift="{{shift}}" equip="y" style-group="flex flex-wrap" style-item="equipSmallInfo">
                </drill-down-header>
            </div>
        </div>
    </div>


    <!-- Expanded View -->
    <div class="jumbogrid" ng-if="!productivityViewAsCompact">
        <div ng-repeat="y in equipToShow" class="jumbogriditem">
            <div class="" ng-init="e = getEquipmentLastEvent(y)">

                <div class="bg_black50 img_{{y.function}} equipInfoAssetHeader">
                    <h4 class="shadow"> <a ng-href="#!equip/{{y.id}}"><i ng-class='equipStyleIcon[e.majorGroup]'
                                ng-style='equipStyleColor[e.majorGroup]'></i>
                            {{y.id}}</a></h4>
                </div>

                <drill-down-header shift="{{shift}}" equip="y" style-group="flex flex-wrap" style-item="equipSmallInfo">
                </drill-down-header>
            </div>

            <div>
                <h4 class="center underline"><i class="fas fa-chart-bar"></i> Metrics</h4>
                <div class="jumboscroll">
                    <div ng-repeat="(key, value) in y.shiftData[ShiftIndex()].metricData" class="center flex underline"
                        ng-if="value.total != 0" ng-class="{'prodMetricBG' : value.activity.includes('Production')}">>
                        <div class="left">
                            <h5> {{value.name}}</h5>
                            <p class="light">({{value.site}}) {{value.activity}}</p>
                        </div>
                        <h4>{{value.total | number:0 }}</h4>
                    </div>
                </div>
            </div>

            <div style="height: 250px" ;>
                <drill-down-chart name="Metrics Per Hour" chart="{{y.id}}">
                </drill-down-chart>
            </div>
        </div>
    </div>

</div>