<div class="cup">
    <div class="underline flex flex-start">
        <h2><i class="far fa-file-alt"></i> {{reportCategory}} - {{ reportTitle }}</h2>
        <!-- <h4>{{ reportTitle}}</h4> -->
    </div>
    </br>

    <div class="reportGrid">
        <!-- Report View -->
        <!-- <div ng-if="currentCSVView!==undefined"> -->

        <div ng-if="!refresh">
            <div ui-grid="gridOptions" ui-grid-resize-columns ui-grid-exporter class="reportCSV"></div>
        </div>

    </div>
</div>