<div class="reportcup">

    <div class="flex h100pc">
        <!-- <div class="siteCardShd reportCard"> -->
        <div class="chartdivcontentNoHead reportCard {{$root.backGroundClassBlur}}">

            <!-- Settings for the Report -->
            <div class="siteCardShd">
                <h4 class=""><i class="fas fa-cogs"></i> Settings</h4>


                <div class="reportShiftGrid">
                    <h5>Start Shift </h5>
                    <div>
                        <label class="switch"><input ng-init="reportGenStartShift=true" ng-model="reportGenStartShift"
                                ng-change="" type="checkbox" id="togBtn">
                            <div class="slider round" switch-on="Day" switch-off="Night"></div>
                        </label>
                    </div>
                </div>
                <div class="reportShiftGrid">
                    <h5>End Shift</h5>
                    <div>
                        <label class="switch"><input ng-init="reportGenEndShift=false" ng-model="reportGenEndShift"
                                ng-change="" type="checkbox" id="togBtn" checked>
                            <div class="slider round" switch-on="Day" switch-off="Night"></div>
                        </label>
                    </div>
                </div>


                <br />
                <div class="flex">
                    <div>
                        <h5>Date Range</h5>
                        <input class="calendar reportDateInput" placeholder="calendar 1" readonly="readonly">
                    </div>
                </div>
                <br />
            </div>

            <!-- List all the reports -->

            <!-- <h3 class=""><i class="far fa-file-alt"></i> Reports</h3> -->
            <div ng-repeat="(key, value) in availableReports">
                <br />
                <h4 class="underline light"><i class="far fa-folder-open"></i> {{key}}</h4>
                <div ng-repeat="x in value" class="flex">
                    <!-- <button ng-click="generateReportFromClick(key, x[0])" class="reportBtn">
                        <i class="far fa-file-alt"></i> {{x[1]}}
                    </button> -->
                    <p ng-click="generateReportFromClick(key, x[0])" class="reportBtn"> <i class="far fa-file"></i>
                        {{x[1]}}</p>
                </div>

            </div>
        </div>

        <!-- <div ng-hide="noResult == true" ng-bind-html="trustAsHtml(noResultMsg)" class="siteCardShd reportDisplay grid">
        </div> -->
        <div class="reportDisplay">
            <div class="flex">
                <div>
                    <h3 ng-bind-html="trustAsHtml(resultMsg)"></h3>
                    <h5 ng-if="(noResult == true) && (hasEverRunReport == true)"><i class='fas fa-info-circle'></i> No
                        data was found for the selected
                        date range or shifts...</h5>
                </div>


                <!-- <h4 class="light"><i class="fas fa-file-download"></i> Download Report as... </h4> -->
                <div class="right flex" ng-if="noResult != true">
                    <button class="btn" id="myBtn" ng-click="downloadAs('csv')"><i class="fas fa-file-csv"></i>
                        CSV</button>
                    <button class="btn" id="myBtn" ng-click="downloadAs('xlsx')"><i class="far fa-file-excel"></i>
                        XLS</button>
                    <!-- <button class="btn" id="myBtn" ng-click="downloadAs('pdf')"><i class="far fa-file-pdf"></i>
                        PDF</button> -->
                    <button class="btn" id="myBtn" ng-click="print()"><i class="far fa-file-pdf"></i>
                        Print</button>
                </div>
            </div>

            <div id="tabulator"></div>
        </div>
        <!-- Report Display -->
        <!-- ui-grid-resize-columns ui-grid-auto-fit-columns -->
        <!-- <div ui-grid="gridOptions" ui-grid-auto-fit-columns class="siteCardShd reportDisplay grid"> -->


    </div>
    <!-- <div ng-if="noResult == true" ng-bind-html="trustAsHtml(noResultMsg)" class="siteCardShd reportDisplay grid">
    </div>
    <div ui-grid="gridOptions" ui-grid-auto-fit-columns ui-grid-selection ui-grid-exporter
        class="siteCardShd reportDisplay grid" ng-if="noResult == false">
    </div> -->


</div>