<div class="cup">

    <div class="flex h100pc">
        <!-- <div class="siteCardShd reportCard"> -->
        <div class="chartdivcontentNoHead reportCard {{$root.backGroundClassBlur}}">

            <!-- Settings for the Report -->
            <h3 class=""><i class="fas fa-cogs"></i> Settings</h3>

            <div class="flex ">
                <div>
                    <h4>Start Shift </h4>
                    <div>
                        <label class="switch"><input ng-init="reportGenStartShift=true" ng-model="reportGenStartShift"
                                ng-change="" type="checkbox" id="togBtn">
                            <div class="slider round" switch-on="Day" switch-off="Night"></div>
                        </label>
                    </div>
                </div>
                <div>
                    <h4>End Shift</h4>
                    <div>
                        <label class="switch"><input ng-init="reportGenEndShift=false" ng-model="reportGenEndShift"
                                ng-change="" type="checkbox" id="togBtn" checked>
                            <div class="slider round" switch-on="Day" switch-off="Night"></div>
                        </label>
                    </div>
                </div>
            </div>

            <div class="flex">
                <div>
                    <h4>Date Range</h4>
                    <input class="calendar reportDateInput" placeholder="calendar 1" readonly="readonly">
                </div>
            </div>


            <!-- List all the reports -->
            <br />
            <h3 class=""><i class="far fa-file-alt"></i> Reports</h3>
            <div ng-repeat="(key, value) in availableReports">
                <br />
                <h4 class="underline light"><i class="far fa-folder-open"></i> {{key}}</h4>
                <div ng-repeat="x in value" class="flex">
                    <button ng-click="generateReportFromClick(key, x[0])" class="reportBtn">
                        <i class="far fa-file-alt"></i> {{x[1]}}
                    </button>
                </div>

            </div>
        </div>

        <!-- <div ng-hide="noResult == true" ng-bind-html="trustAsHtml(noResultMsg)" class="siteCardShd reportDisplay grid">
        </div> -->
        <div class="reportDisplay">
            <div class="flex">
                <h2 ng-bind-html="trustAsHtml(noResultMsg)"></h2>
                <h4 class="light"><i class="fas fa-file-download"></i> Download Report as... </h4>
                <div class="right flex">
                    <button class="btn" id="myBtn" ng-click="downloadAs('csv')"><i class="far fa-file-pdf"></i>
                        .pdf</button>
                    <button class="btn" id="myBtn" ng-click="downloadAs('csv')"><i class="fas fa-file-csv"></i>
                        CSV</button>
                    <button class="btn" id="myBtn" ng-click=""><i class="far fa-file-excel"></i> XLS</button>
                </div>
            </div>

            <div id="tabulator"></div>
        </div>
        <!-- Report Display -->
        <!-- ui-grid-resize-columns ui-grid-auto-fit-columns -->
        <!-- <div ui-grid="gridOptions" ui-grid-auto-fit-columns class="siteCardShd reportDisplay grid"> -->


    </div>
    <!-- <div ng-if="noResult == true" ng-bind-html="trustAsHtml(noResultMsg)" class="siteCardShd reportDisplay grid">
    </div>
    <div ui-grid="gridOptions" ui-grid-auto-fit-columns ui-grid-selection ui-grid-exporter
        class="siteCardShd reportDisplay grid" ng-if="noResult == false">
    </div> -->


</div>