<div class="cup">

    <div class="flex flex-start underline">

        <h2 class="left"> <i class="fas fa-file-upload"></i> Upload Plan</h2>
    </div>
    </br>

    <div class="flex flex-start">

        <div class="sitePicMargin">
            <h4 class="light">1. Select a Plan file to upload...</h4>

            <label class="custom-file-upload">
                <input type="file" accept=".csv" file-reader callback-fn="onFileReadComplete(arg1)" />
                <i class="far fa-folder-open"></i> Select File...
            </label>
        </div>

        <div class="sitePicMargin">
            <h4 class="light">2. Month for this plan</h4>
            <input class="calendar" placeholder="" readonly="readonly">
        </div>

        <div class="sitePicMargin">
            <h4 class="light">3. Upload to Mine Mage</h4>
            <button class="btn" id="myBtn" ng-click="uploadMonthlyPlan()">
                <i class="fas fa-file-upload"></i> Upload</button>
        </div>

        <div class="sitePicMargin" ng-if="uploadSuccess==1">
            <h4><i ng-style="equipStyleColor['Operating']" class="far fa-check-circle"></i> Success!</h4>
        </div>

    </div>

    <div class="mines-center {{$parent.backGroundClassBlur}}">

        <div class="center">
            <!-- <input type="file" accept=".csv" file-reader callback-fn="onFileReadComplete(arg1)" /> -->
            <!-- <button id="myBtn" ng-click="uploadMonthlyPlan()">Upload</button>
                <button id="myBtn" ng-click="getMonthlyPlan()">Get</button>
                <button id="myBtn" ng-click="getMonthlyActuals()">Actuals</button>
                <button id="myBtn" ng-click="getMappedActualsToPlan()">Mapped</button> -->

            <!-- <div>{{fileContent[1]}}</div>
            <div>{{distinctNames}}</div> -->

            <div class="jumbogrid">
                <h3 ng-if="planDisplay == null">Select a plan file to get started...</h3>
                <div ng-repeat="(key, value) in planDisplay">
                    <h3 class="underline">{{key}}</h3>
                    <div ng-repeat="x in value" class="mnth_target_grid">
                        <p class="right" ng-class="{light: $index != 1}" ng-repeat="y in x">{{y}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
</div>


<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Some text in the Modal..</p>
    </div>

</div>