<!DOCTYPE html>
<html style="height: 100%">

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

    <link rel="stylesheet" href="menu.css">
    <link rel="stylesheet" href="tooltip.css">
    <link rel="stylesheet" href="switch.css">
    <link rel="stylesheet" href="charts.css">
    <link rel="stylesheet" href="alerts.css">
    <link rel="stylesheet" href="datepicker.css">
    <link rel="stylesheet" href="landing.css">

</head>

<body style="height: 100%; margin: 0">




    <div ng-app="myApp" ng-controller="myCtrl">
        <!-- <i class="fas fa-camera"></i> -->
        <div id="site_menu">
            <div class="navbar">

            </div>
        </div>




        <div id="site_body">
            <div class="landing">
                <!-- Top date and time -->
                <div class="underline">
                    <div>
                        <h2>Welcome...</h2>
                    </div>
                    <div class="landtime">
                        <div>
                            <h1 style="font-size: 70px" ng-bind="clock | date:'HH:mm'"></h1>
                        </div>
                        <div>
                            <h3>Day Shift</h3>
                        </div>
                        <div>
                            <h3 ng-bind="dateString"></h3>
                        </div>
                    </div>
                </div>

                <!-- Site info -->
                <div>
                    <div class="landcard" ng-repeat="x in siteData  | limitTo:3" ng-init="siteIndex = $index">
                        <img class="sitePicBig" ng-src="assets/img/site_{{siteIndex}}.jpg">
                        <h2 ng-bind="x.name"></h2>
                        <h4>Target: 13232t </br> Actual: 3322t </br>Compliance: &#9650;58%</i></h4>
                        </br>
                        <h3 class="underline"><i class="far fa-bell"></i> Alerts</h3>
                        <div ng-repeat="alert in alerts">
                            <alert-box alert="alert"></alert-box>
                        </div>
                    </div>
                </div>
            </div>

        </div>



        <script type="text/javascript" src="echarts.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

        <script src="alldata.js"></script>
        <script src="html2canvas.js"></script>
        <script type="text/javascript" src="ChartStyles.js"></script>
        <script type="text/javascript" src="Charts.js"></script>
        <script type="text/javascript" src="ChartsMines.js"></script>

        <script type="text/javascript" src="main.js"></script>



        <script type="text/javascript">


            // enum for major groups
            const MajorGroup = {
                IDLE: 'Idle',
                OPERATING: 'Operating',
                DOWN: 'Down'
            }

            var shiftIsDay = 1;



            app.controller("myCtrl", function ($scope, $timeout) {

                // Fake data for landing page
                var date = new Date();
                var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

                var month = new Array();
                month[0] = "January";
                month[1] = "February";
                month[2] = "March";
                month[3] = "April";
                month[4] = "May";
                month[5] = "June";
                month[6] = "July";
                month[7] = "August";
                month[8] = "September";
                month[9] = "October";
                month[10] = "November";
                month[11] = "December";

                var dateDay = days[date.getDay()];
                var dateMonth = month[date.getMonth()];// "September";

                $scope.dateString = dateDay + ", " + date.getDate() + " " + dateMonth + " " + date.getFullYear();


                // Clock counter
                $scope.clock = Date.now(); // initialise the time variable
                $scope.tickInterval = 1000 //ms

                var tick = function () {
                    $scope.clock = Date.now() // get the current time
                    $timeout(tick, $scope.tickInterval); // reset the timer
                }

                // Start the timer
                $timeout(tick, $scope.tickInterval);







                $scope.siteData = allData;


                // Fake alerts
                var alerts = [];
                for (var i = 0; i < Math.round(Math.random() * 10); i++) {
                    if (Math.random() > 0.5) {
                        alerts[i] = {
                            level: 0,
                            time: "09:24",
                            id: 'LH020',
                            message: "Bogger has been in-active for over 15minutes",
                            action: "Get someone on the bogger"
                        };
                    } else {
                        alerts[i] = {
                            level: 1,
                            time: "14:12",
                            id: 'LH020',
                            message: "TPH has been below target for over 1hr",
                            action: "Get someone on the bogger"
                        };
                    }
                }

                $scope.alerts = alerts;
                console.log($scope.alerts);
            });



        </script>
</body>

</html>