<!DOCTYPE html>
<html style="height: 100%">

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

    <link rel="stylesheet" href="menu.css">
    <link rel="stylesheet" href="tooltip.css">
    <link rel="stylesheet" href="switch.css">
    <link rel="stylesheet" href="charts.css">
    <link rel="stylesheet" href="alerts.css">
    <link rel="stylesheet" href="datepicker.css">
    <link rel="stylesheet" href="landing.css">
    <link rel="stylesheet" href="mines.css">
    <link rel="stylesheet" href="callup.css">

</head>

<body style="height: 100%; margin: 0">




    <div ng-app="myApp" ng-controller="myCtrl">
        <!-- <i class="fas fa-camera"></i> -->
        <div id="site_menu">

            <div class="navbar">
                <div class="navleft">
                    <div>COMPANY LOGO</div>
                    <!-- <a href="#news">News</a> -->


                    <div class="dropdown">
                        <div class="dropbtn">Short Interval Control</div>
                        <!-- <i class="fa fa-caret-down"></i> -->
                        <div class="dropdown-content">
                            <div class="siteCard" ng-repeat="x in siteData  | limitTo:3" ng-init="siteIndex = $index">
                                <img ng-src="assets/img/site_{{siteIndex}}.jpg">
                                <h2>{{x.name}}</h2>

                                <h4>Analysis</h4>
                                <div><a ng-href="">Bogger Movements</a></div>
                                <div><a ng-href="">Hauling Movements</a></div>
                                <div><a ng-href="">Drill Meters</a></div>
                                </br>

                                <h4>Materials</h4>
                                <div><a ng-href="">Production Tonnes</a></div>
                                <div><a ng-href="">Development Tonnes</a></div>
                                </br>

                                <div class="siteCardGrid">
                                    <div>
                                        <h3>Boggers</h3>
                                        <div ng-repeat="y in x.equipmentByFunction.LOADING" ng-hide="$first">
                                            <a ng-href="">{{ y.ID }}</a>
                                        </div>
                                    </div>

                                    <div>
                                        <h3>Trucks</h3>
                                        <div ng-repeat="y in x.equipmentByFunction.HAULING" ng-hide="$first">
                                            <a ng-href="">{{ y.ID }}</a>
                                        </div>
                                    </div>

                                    <div>
                                        <h3>Drills</h3>
                                        <div ng-repeat="y in x.equipmentByFunction.P" ng-hide="$first">
                                            <a ng-href="">{{ y.ID }}</a>
                                        </div>
                                        <div ng-repeat="y in x.equipmentByFunction.D" ng-hide="$first">
                                            <a ng-href="">{{ y.ID }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>

                    <div class="dropdown">
                        <div class="dropbtn">Monthly Compliance</div>
                        <div class="dropdown-content">
                            <div class="droplist">
                                <h3>Forms</h3>
                                <a href="#">Adjust Target Inputs</a>

                                <h3>Mines</h3>
                                <a href="#">Plan vs Compliance</a>
                                <a href="#">Material Movements</a>

                                <h3>Equipment</h3>
                                <a href="#">Link 1</a>
                                <a href="#">Link 2</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>
                    </div>

                    <div class="dropdown">
                        <div class="dropbtn">Reports & Analysis</div>
                        <div class="dropdown-content">
                            <div class="droplist">

                                <h3>Call Ups</h3>
                                <h5>Day Shift</h5>
                                <a href="#">First Call-up</a>
                                <a href="#">Last Call-up</a>

                                <h5>Night Shift</h5>
                                <a href="#">First Call-up</a>
                                <a href="#">Last Call-up</a>

                                <h3>Equipment</h3>
                                <a href="#">Downtime Report</a>
                                <a href="#">Material Movements</a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="navright">
                    <div class="util">
                        <div class="utilbtn userbtn"><i class="far fa-user"></i></div>
                        <div class="dropdown-content">
                            <h3><i class="far fa-user"></i> User</h3>
                            <div><a href="#">Log-out</a></div>
                            <div><a href="#">Report Issue</a></div>
                            <div><a href="#">User Manual</a></div>
                            <div><a href="#">About</a></div>
                        </div>
                    </div>
                    <div class="util">
                        <div class="utilbtn"><i class="far fa-bell"></i><span class="alert-badge"
                                ng-bind="alerts.length" ng-hide="alerts.length < 1"></span></div>
                        <div class="dropdown-content">

                            <h3><i class="far fa-bell"></i> Alerts</h3>

                            <div ng-repeat="alert in alerts">
                                <div ng-class="alert.level == 0? 'alertgrid a0' : 'alertgrid a1'">
                                    <div>
                                        <h2><i
                                                ng-class="alert.level == 0 ? 'fas fa-exclamation-circle' : 'fas fa-exclamation-triangle'"></i>
                                        </h2>
                                    </div>
                                    <div>
                                        {{alert.time}}
                                        </br>
                                        {{alert.id}}
                                        <!-- <a ng-href="" ng-class="alert.level == 0? 'a0' : 'a1'">{{alert.id}}</a> -->
                                    </div>

                                    <div>
                                        <h5>{{alert.message}}</h5>
                                    </div>
                                    <div><span class="alertclose"
                                            onclick="this.parentElement.parentElement.style.display='none';">&times;</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="util">
                        <div class="utilbtn"><i class="fas fa-database"></i></div>
                        <div class="dropdown-content">

                            <h3> <i class="fas fa-database"></i> DB Connection</h3>
                            <div class="utilgrid">

                                <div>IP</div>
                                <div>192.168.0.1</div>


                                <div>Connection Status</div>
                                <div>OK!</div>

                                <div>Last Data Pull</div>
                                <div>2018-10-10</div>

                                <div>Next Data Pull</div>
                                <div>9min</div>

                                <div>Local Data Size</div>
                                <div>1.5mb</div>
                            </div>

                        </div>
                    </div>


                    <div class="util">
                        <div class="utilbtn"><i class="fas fa-cogs"></i></div>
                        <div class="dropdown-content">

                            <h3><i class="fas fa-cogs"></i> Preferences</h3>
                            <div class="utilgrid">
                                <div>Data Date</div>
                                <div><input type="date"></div>

                                <div>Current Shift</div>
                                <div>
                                    <label class="switch"><input type="checkbox" id="togBtn" checked>
                                        <div class="slider round" switch-on="Day" switch-off="Night"></div>
                                    </label>
                                </div>

                                <div>Equipment Alerts</div>
                                <div>
                                    <label class="switch"><input type="checkbox" id="togBtn" checked>
                                        <div class="slider round" switch-on="Active" switch-off="Off"></div>
                                    </label>
                                </div>
                            </div>
                            <h3><i class="fas fa-search"></i> Equipment Search</h3>
                            <input type="text" ng-model="search.id" ng-init="search.id ='Search by ID...'">
                            <div ng-repeat="x in siteData  | limitTo:3" ng-init="siteIndex = $index">
                                <div ng-repeat="y in x.equipment | filter:search" ng-hide="$first"><a
                                        ng-href="">{{ y.id }}</a></div>
                            </div>
                        </div>
                    </div>


                    <!-- <div>10/10/2018</i></div> -->
                </div>
            </div>
        </div>




        <div id="site_body">
            <div class="cup">

                <div class="mines-center">

                    <div class="underline flex">
                        <div class="left">
                            <h2 class="left"><i class="fas fa-phone-volume" ng-bind="calUpTitleFirst"></i></h2>
                            <h4><i class="far fa-moon"></i> {{callUpTitleShift}}</h4>
                        </div>
                        <div class="right">
                            <h3>10th November 2018</h3>
                        </div>
                    </div>
                    </br>


                    <h3>Boggers</h3>
                    <div class="cup-grid underline head">
                        <div>#</div>
                        <div><i class="far fa-clock"></i></div>
                        <div><i class="fas fa-info-circle"></i></div>
                        <div><i class="far fa-user"></i></div>
                        <div><i class="far fa-map"></i></div>
                        <div><i class="fas fa-map-marker-alt"></i></div>
                        <div>+/- 2hrs</div>
                    </div>

                    <div ng-repeat="x in siteData | limitTo:3" ng-init="siteIndex = $index">
                        <div ng-repeat="y in x.equipmentByFunction.HAULING"
                            ng-init="e = getCallUpEvent(siteIndex, y.Index)" ng-hide="$first">
                            <div class="cup-grid row">
                                <div><a href=# ng-bind="y.ID"></a></div>
                                <div ng-bind="e.eventTime.date"></div>
                                <div><span ng-style='getEquipStyle(e.majorGroup)'><i class="fas fa-circle"></i></span>
                                    {{e.status}}
                                </div>
                                <div ng-init="opName = e.operator == '.' ? ' No Operator' : e.operator"
                                    ng-class="{'cup-redwarn': (e.operator == '.')}">
                                    <i ng-if="e.operator == '.'" class="fas fa-exclamation-triangle"></i>{{opName}}
                                </div>
                                <div ng-bind="e.mineArea"></div>
                                <div ng-bind="e.location"></div>
                                <div ng-bind="e.timeDiff"></div>
                            </div>
                        </div>
                    </div>

                    </br>
                    <h3>Trucks</h3>
                    <div class="cup-grid underline head">
                        <div>#</div>
                        <div><i class="far fa-clock"></i></div>
                        <div><i class="fas fa-info-circle"></i></div>
                        <div><i class="far fa-user"></i></div>
                        <div><i class="far fa-map"></i></div>
                        <div><i class="fas fa-map-marker-alt"></i></div>
                        <div>>8am</div>
                    </div>
                    <div ng-repeat="x in siteData | limitTo:3" ng-init="siteIndex = $index">
                        <div ng-repeat="y in x.equipmentByFunction.LOADING"
                            ng-init="e = getCallUpEvent(siteIndex, y.Index)" ng-hide="$first">
                            <div class="cup-grid row">
                                <div><a href=# ng-bind="y.ID"></a></div>
                                <div ng-bind="e.eventTime.date"></div>
                                <div> <span ng-style='getEquipStyle(e.majorGroup)'><i class="fas fa-circle"></i></span>
                                    {{e.status}}</div>
                                <div ng-init="opName = e.operator == '.' ? ' No Operator' : e.operator"
                                    ng-class="{'cup-redwarn': (e.operator == '.')}">
                                    <i ng-if="e.operator == '.'" class="fas fa-exclamation-triangle"></i>{{opName}}
                                </div>
                                <div ng-bind="e.mineArea"></div>
                                <div ng-bind="e.location"></div>
                                <div ng-bind="e.timeDiff"></div>
                            </div>
                        </div>
                    </div>
                    <!--
                        <div ng-repeat="y in x.equipmentByFunction.D" ng-init="e = getCallUpEvent(siteIndex, y.Index)"
                            ng-hide="$first" class="cup-grid">

                            <div><a href=# ng-bind="y.ID"></a></div>
                            <div ng-bind="e.eventTime.date"></div>
                            <div><span ng-style='getEquipStyle(e.majorGroup)'>&#9679;</span>{{e.status}}
                            </div>
                            <div ng-init="opName = e.operator == '.' ? ' No Operator' : e.operator"
                                ng-class="{'cup-redwarn': (e.operator == '.')}">
                                <i ng-if="e.operator == '.'" class="fas fa-exclamation-triangle"></i>{{opName}}</div>
                            <div ng-bind="e.mineArea"></div>
                            <div ng-bind="e.location"></div>
                            <div ng-bind="0"></div>
                        </div>

                        <div ng-repeat="y in x.equipmentByFunction.P" ng-init="e = getCallUpEvent(siteIndex, y.Index)"
                            ng-hide="$first" class="cup-grid">

                            <div><a href=# ng-bind="y.ID"></a></div>
                            <div ng-bind="e.eventTime.date"></div>
                            <div><span ng-style='getEquipStyle(e.majorGroup)'>&#9679;</span>{{e.status}}
                            </div>
                            <div ng-init="opName = e.operator == '.' ? ' No Operator' : e.operator"
                                ng-class="{'cup-redwarn': (e.operator == '.')}">
                                <i ng-if="e.operator == '.'" class="fas fa-exclamation-triangle"></i>{{opName}}</div>
                            <div ng-bind="e.mineArea"></div>
                            <div ng-bind="e.location"></div>
                            <div ng-bind="0"></div>
                        </div> 
                    </div>-->




                </div>





                <!-- Equip timeline -->


                <div class="mines-center">

                    <div class="underline flex">
                        <div class="left">
                            <h2 class="left"><i class="fas fa-phone-volume"> Equipment Timeline</i></h2>
                            <h4><i class="far fa-moon"></i> {{callUpTitleShift}}</h4>
                        </div>
                        <div class="right">
                            <h3>10th November 2018</h3>
                        </div>
                    </div>


                    <div class="equipFlatUsage h60px">
                        <div></div>
                        <div id="equip-timeline-time">Timeline</div>
                    </div>


                    <div ng-repeat="x in siteData | limitTo:3" ng-init="siteIndex = $index">
                        <div ng-repeat="y in x.equipmentByFunction.HAULING"
                            ng-init="e = getCallUpEvent(siteIndex, y.Index)" ng-hide="$first">
                            <div class="equipFlatUsage">
                                <div><a href=# ng-bind="y.ID"></a></div>
                                <div class="equip-flat-usage" id="{{siteIndex}}-{{y.Index}}">asdasd</div>
                            </div>
                        </div>
                        <div ng-repeat="y in x.equipmentByFunction.LOADING"
                            ng-init="e = getCallUpEvent(siteIndex, y.Index)" ng-hide="$first">
                            <div class="equipFlatUsage">
                                <div><a href=# ng-bind="y.ID"></a></div>
                                <div class="equip-flat-usage" id="{{siteIndex}}-{{y.Index}}">asdasd</div>
                            </div>
                        </div>
                    </div>
                </div>





                <script type="text/javascript" src="echarts.min.js"></script>
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

                <script src="alldata.js"></script>
                <script src="html2canvas.js"></script>
                <script type="text/javascript" src="ChartStyles.js"></script>
                <script type="text/javascript" src="Charts.js"></script>
                <script type="text/javascript" src="ChartsMines.js"></script>



                <script type="text/javascript">


                    // enum for major groups
                    const MajorGroup = {
                        IDLE: 'Idle',
                        OPERATING: 'Operating',
                        DOWN: 'Down'
                    }



                    // Fake NG Data
                    var app = angular.module("myApp", []);

                    var shift = 0;

                    app.controller("myCtrl", function ($scope, $timeout) {

                        $scope.siteData = allData;


                        $scope.callUpIsFirst = false;
                        $scope.callUpIsDay = shift ? true : false;

                        $scope.calUpTitleFirst = $scope.callUpIsFirst == true ? " First Operating Call-up" : " Last Operating Call-up";
                        $scope.callUpTitleShift = $scope.callUpIsDay == true ? " Day Shift" : " Night Shift";


                        //console.log($scope.siteData);
                        //console.log($scope.calUpTitle);

                        // Based on a site index and equipment index
                        // return the real data object for the equipment
                        $scope.getEquipObject = function (site, index) {
                            if (index != null || index != undefined) { return $scope.siteData[site].equipment[index]; }
                        };


                        $scope.getCallUpEvent = function (site, index) {
                            if (index != null || index != undefined) {
                                var shift = $scope.getEquipShiftData(site, index);


                                // So that we don't overwrite the original 
                                var callUpEvent = JSON.stringify(($scope.callUpIsFirst == true) ? shift.events[shift.eventFirstOp] : shift.events[shift.events.length - 1]);
                                callUpEvent = JSON.parse(callUpEvent);

                                // ---------------------------------------------
                                // Get time difference from 8am or 8pm
                                var date1 = new Date(callUpEvent.eventTime.date);
                                var date2 = new Date(callUpEvent.eventTime.date);
                                date2.setHours($scope.callUpIsDay ? 8 : 20);
                                date2.setMinutes(0);
                                date2.setSeconds(0);
                                var diff = date1 - date2;

                                var msec = diff;
                                var hh = Math.floor(msec / 1000 / 60 / 60);
                                msec -= hh * 1000 * 60 * 60;
                                var mm = Math.floor(msec / 1000 / 60);
                                diff = hh + "hr " + mm + "m";

                                callUpEvent.timeDiff = diff;//{ ['poo']};
                                //console.log(diff);
                                // ---------------------------------------------

                                callUpEvent.eventTime.date = callUpEvent.eventTime.date.split(" ")[1].substring(0, 8);
                                return callUpEvent;
                            }
                        };


                        $scope.getEquipShiftData = function (site, index) {
                            if (index != null || index != undefined) { return $scope.siteData[site].equipment[index].shiftData[$scope.callUpIsDay ? 1 : 0]; }
                        };



                        $scope.getEquipStyle = function (majorGroup) {
                            if (majorGroup == "OPERATING") { return { 'color': ChartStyles.statusColorsFlat[0] } }
                            if (majorGroup == "IDLE") { return { 'color': ChartStyles.statusColorsFlat[1] } }
                            if (majorGroup == "DOWN") { return { 'color': ChartStyles.statusColorsFlat[2] } }
                        };



                        $scope.$watch('$viewContentLoaded', function () {
                            $timeout(function () {

                                // Create flat timelines
                                var x = document.getElementsByClassName("equip-flat-usage");


                                Charts.CreateTimeLineFlatTime("equip-timeline-time");
                                console.log(x[0]);

                                // Start at i=1 because 0 is the timeline bar
                                for (var i = 1; i < x.length; i++) {
                                    var s = x[i].id.split('-');
                                    if (s[1] != "") {
                                        var equip = $scope.siteData[s[0]].equipment[s[1]];
                                        //console.log(equip);
                                        if (equip != 'undefined')
                                            Charts.CreateTimeLineFlat(x[i].id, equip);
                                    }
                                }
                            }, 0);
                        });
                    });



                </script>
</body>

</html>