<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet"
        href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">

    <!-- <link rel="stylesheet" href="menu.css"> -->

    <link rel="stylesheet" href="charts.css">
    <link rel="stylesheet" href="login.css">
</head>

<body ng-app="myApp" ng-cloak>
    <div class="vingette"></div>
    <div class="log-outer">
        <div class="log-middle">
            <div class="log-inner">
                <div class="panel">
                    <h3>Fancy Title</h3>
                </div>
                <div class="input">
                    <h3>Welcome...</h3>
                    <div layout-gt-sm="row">
                        <div layout="column" flex>
                            <md-input-container>
                                <label>User Name</label>
                                <input required name="clientName" ng-model="project.clientName">
                                <div ng-messages="projectForm.clientName.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Email</label>
                                <input required type="email" name="clientEmail" ng-model="project.clientEmail"
                                    minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

                                <div ng-messages="projectForm.clientEmail.$error" role="alert">
                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                        Your email must be between 10 and 100 characters long and look like an e-mail
                                        address.
                                    </div>
                                </div>
                            </md-input-container>


                            <md-button class="md-raised md-primary">
                                Log-in
                            </md-button>

                        </div>

                        <!-- <div layout="row" layout-align="center center" layout-fill class="outer">
                        <div layout="column" class="wrapper" flex>
                            <md-input-container>
                                <label>Placeholder</label>
                                <input>
                            </md-input-container>
                            <md-input-container>
                                <label>Placeholder</label>
                                <input>
                            </md-input-container>
                            <md-button class="md-raised md-primary" flex>
                                Primary
                            </md-button>
                        </div>
                    </div> -->
                    </div>
                </div>
            </div>
        </div>






        <!-- Angular Material requires Angular.js Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

        <!-- Angular Material Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

        <!-- Your application bootstrap  -->
        <script type="text/javascript">
            /**
             * You must include the dependency on 'ngMaterial' 
             */

            angular.module('myApp', ['ngMaterial', 'ngMessages'])
                .config(function ($mdThemingProvider) {
                    // $mdThemingProvider.theme('default')
                    //     .dark();
                });
        </script>

</body>

</html>