<div ng-class="{{$ctrl.alert.level}} == 0? 'alertgrid a0' : 'alertgrid a1'">
    <div>
        <h2><i ng-class="{{$ctrl.alert.level}} == 0 ? 'fas fa-exclamation-circle' : 'fas fa-exclamation-triangle'"></i>
        </h2>
    </div>
    <div>
        {{$ctrl.alert.time}}
        </br>
        {{$ctrl.alert.id}}
    </div>

    <div>
        <h5>{{$ctrl.alert.message}}</h5>
    </div>
    <div><span class="alertclose" onclick="this.parentElement.parentElement.style.display='none';">&times;</span>
    </div>
</div>