<div>
    <div class="flex h100pc {{$ctrl.flexColumn}}"
        ng-init="operator = $ctrl.lastEvent.operator == '.' ? ' No Operator' : $ctrl.lastEvent.operator">

        <div class="{{$ctrl.flex}}">

            <div class="equipSmallInfo">
                <p class="light"><i class="far fa-user"></i> Operator</p>
                <h5 class="bold" ng-class="{'cup-redwarn': ($ctrl.lastEvent.operator == '.')}"><i
                        class="fas fa-exclamation-triangle" ng-if="$ctrl.lastEvent.operator == '.'"></i>{{operator}}
                </h5>
            </div>

            <div class="equipSmallInfo">
                <p class="light"><i class="fas fa-map"></i> Site</p>
                <h5 class="bold">{{$ctrl.lastEvent.mineArea}}</h5>
            </div>

            <div class="equipSmallInfo">
                <p class="light"><span>
                        <i ng-class='$root.equipStyleIcon[$ctrl.lastEvent.majorGroup]'
                            ng-style='$root.equipStyleColor[$ctrl.lastEvent.majorGroup]'></i></span> Status</p>


                <h5 class="bold">{{$ctrl.lastEvent.status}}</h5>
            </div>

        </div>

        <div class="{{$ctrl.flex}}">
            <div class="equipSmallInfo">
                <p class="light"><i class="fas fa-map-marker-alt"></i> Location</p>
                <h5 class="bold">{{$ctrl.lastEvent.location}}</h5>
            </div>

            <div class="equipSmallInfo">
                <p class="light"><i class="fas fa-clock"></i> Last Event</p>
                <h5 class="bold">{{$ctrl.lastEventTime}}</h5>
            </div>

            <div class="equipSmallInfo">
                <p class="light"><i class="fas fa-phone-volume"></i> Time Since
                    Callup</p>
                <h5 class="bold" ng-class="{'cup-redwarn': ($ctrl.late == 1)}">
                    {{$ctrl.timeSinceLastCall}}
                </h5>
            </div>
        </div>


        <!-- <div class="{{$ctrl.overline}} {{$ctrl.underline}}">
            <div class="equipSmallInfo">
                <p class="light"><i class="fas fa-clock"></i> Time Since
                    Callup</p>
                <h5 class=" {{$ctrl.underline}}" ng-class="{'cup-redwarn': ($ctrl.late == 1)}">
                    {{$ctrl.timeSinceLastCall}}
                </h5>
            </div>


            <div class="equipSmallInfo">
                <p class="light"><span ng-style='getEquipStyle($ctrl.lastEvent.majorGroup)'><i
                            class="fas fa-info-circle"></i></span> Status</p>

                <h5>{{$ctrl.lastEvent.status}}</h5>
            </div>
        </div> -->





        <!-- <div class="equipTitleGrid">


            <div class="equipTitleGridEntry"
                ng-init="operator = $ctrl.lastEvent.operator == '.' ? ' No Operator' : $ctrl.lastEvent.operator">

                <div class="right vertical">
                    <h4><i
                            ng-class="($ctrl.lastEvent.operator == '.' ? 'fas fa-exclamation-triangle cup-redwarn':'fas fa-user')"></i>
                    </h4>
                </div>
                <div class="left vertical">
                    <h5 ng-class="{'cup-redwarn': ($ctrl.lastEvent.operator == '.')}">{{operator}}</h5>
                </div>
            </div>


            <div class="equipTitleGridEntry">
                <div class="right vertical">
                    <h4><i class="fas fa-phone-volume"></i></h4>
                </div>
                <div class="left vertical">
                    <h5>{{$ctrl.lastEventTime}}</h5>
                </div>
            </div>


            <div class="equipTitleGridEntry">
                <div class="right vertical">
                    <h4><i class="fas fa-clock" ng-class="{'cup-redwarn': ($ctrl.late == 1)}"></i></h4>
                </div>
                <div class="left vertical">
                    <h5 ng-class="{'cup-redwarn': ($ctrl.late == 1)}">{{$ctrl.timeSinceLastCall}} </h5>
                </div>
            </div>


            <div class=" equipTitleGridEntry">
                <div class="right vertical">
                    <h4><i class="fas fa-map"></i></h4>
                </div>
                <div class="left vertical">
                    <h5>{{$ctrl.lastEvent.mineArea}}</h5>
                </div>
            </div>

            <div class="equipTitleGridEntry">
                <div class="right vertical">
                    <h4><i class="fas fa-map-marker-alt"></i></h4>
                </div>
                <div class="left vertical">
                    <h5>{{$ctrl.lastEvent.location}}</h5>
                </div>
            </div>



            <div class="equipTitleGridEntry">
                <div class="right vertical">
                    <h4><span ng-style='$ctrl.getEquipStyle($ctrl.lastEvent.majorGroup)'><i
                                class="fas fa-info-circle"></i></span></h4>
                </div>
                <div class="left vertical">
                    <h5>{{$ctrl.lastEvent.status}}</h5>
                </div>
            </div>

        </div>-->

    </div>
</div>