<div>
    <div class="flex h100pc {{$ctrl.flexColumn}}"
        ng-init="operator = $ctrl.lastEvent.operator == '.' ? ' No Operator' : $ctrl.lastEvent.operator">

        <div class="{{$ctrl.flex}}">

            <div class="equipSmallInfo">
                <p class="light"><i class="far fa-user"></i> Operator</p>
                <h5 class="bold" ng-class="{'cup-redwarn': ($ctrl.lastEvent.operator == '.')}"><i
                        class="fas fa-exclamation-triangle" ng-if="$ctrl.lastEvent.operator == '.'"></i>{{operator}}
                </h5>
            </div>

            <div class="equipSmallInfo">
                <p class="light"><i class="fas fa-map"></i> Site</p>
                <h5 class="bold">{{$ctrl.lastEvent.mineArea}}</h5>
            </div>

            <div class="equipSmallInfo">
                <p class="light"><span>
                        <i ng-class='$root.equipStyleIcon[$ctrl.lastEvent.majorGroup]'
                            ng-style='$root.equipStyleColor[$ctrl.lastEvent.majorGroup]'></i></span> Status</p>


                <h5 class="bold">{{$ctrl.lastEvent.status}}</h5>
            </div>

        </div>

        <div class="{{$ctrl.flex}}">
            <div class="equipSmallInfo">
                <p class="light"><i class="fas fa-map-marker-alt"></i> Location</p>
                <h5 class="bold">{{$ctrl.lastEvent.location}}</h5>
            </div>

            <div class="equipSmallInfo">
                <p class="light"><i class="fas fa-clock"></i> Last Event</p>
                <h5 class="bold">{{$ctrl.lastEventTime}}</h5>
            </div>

            <div class="equipSmallInfo">
                <p class="light"><i class="fas fa-phone-volume"></i> Time Since
                    Callup</p>
                <h5 class="bold" ng-class="{'cup-redwarn': ($ctrl.late == 1)}">
                    {{$ctrl.timeSinceLastCall}}
                </h5>
            </div>
        </div>


    </div>
</div>