<!-- Section Title -->
<div class="sectionTitle">
    <div class="flex underline" ng-cloak>
        <div class="left">
            <h2 class="left"><i class="{{$ctrl.icon}}"></i> {{$ctrl.title}}</h2>
        </div>
        <div class="right">
            <h3>{{$ctrl.right}}</h3>

            <!-- This works, to access rootscope -->
            <!-- {{$parent.$parent.foo}} -->

            <!-- This works, to access parent scope -->
            <!-- {{$parent.foo}} -->


            <!-- See JS for switch options -->

            <!-- PRODUCTIVITY -->
            <div ng-if="$ctrl.page=='PRODUCTIVITY'" class="left">
                <div class="light"><i class="fas fa-binoculars"></i> Change View</div>
                <label class="switch"><input ng-init="state= $parent.$parent.productivityViewAsCompact" ng-model="state"
                        ng-change="$parent.$parent.switchView(state)" type="checkbox" id="togBtn" checked>
                    <div class="slider round" switch-on="Compact" switch-off="Expanded"></div>
                </label>
            </div>


            <!-- MONTHLY -->
            <div ng-if="$ctrl.page=='MONTHLY'" class="left">
                <div class="flex">
                    <div class="sitePicMargin">
                        <div class="light"><i class="far fa-calendar-alt"></i> Select Month</div>
                        <!-- <select ng-model="$parent.$parent.selectedName" ng-options="x for x in $parent.$parent.names"
                            ng-change="$parent.$parent.updateSelectionList()">
                        </select> -->
                        <!-- <input class="c" placeholder="111111" readonly="readonly"> -->
                    </div>
                    <!-- 
                    <div class="sitePicMargin">
                        <div class="light"><i class="fas fa-binoculars"></i> Change View</div>
                        <label class="switch"><input ng-init="state= $parent.$parent.monthlyViewAsBars" ng-model="state"
                                ng-change="$parent.$parent.switchView(state)" type="checkbox" id="togBtn" checked>
                            <div class="slider round" switch-on="" switch-off=""></div>
                        </label>
                    </div> -->

                </div>

            </div>



            <!-- LONGTERM -->
            <div ng-if="$ctrl.page=='LONGTERM'" class="left">


                <!-- <button class="btn sitePicMargin" id="myBtn" ng-click="uploadMonthlyPlan()">
                    <i class="fas fa-file-upload"></i> 3 months</button>
                <button class="btn sitePicMargin" id="myBtn" ng-click="uploadMonthlyPlan()">
                    <i class="fas fa-file-upload"></i> 1 year</button>
                <button class="btn sitePicMargin" id="myBtn" ng-click="uploadMonthlyPlan()">
                    <i class="fas fa-file-upload"></i> 2 years</button>
                <button class="btn sitePicMargin" id="myBtn" ng-click="uploadMonthlyPlan()">
                    <i class="fas fa-file-upload"></i> 3 years</button> -->


                <div class="sitePicMargin">
                    <div class="light"><i class="fas fa-binoculars"></i> Asset</div>

                    <select ng-model="$parent.$parent.selectedName" ng-options="x for x in $parent.$parent.names"
                        ng-change="$parent.$parent.updateSelectionList()">
                    </select>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- </br> -->