.cup
{
  /* margin: 0.5% 2% 0.5% 2%;
  height: 95%; */
  margin: 0.5% 2% 0% 2%;
  height: 98%;
}

.cup > .mines-center
{
  padding:0.5%;
  /* height: 93%; */
  /* height: 905px; */
  margin: 0%;
}


/* .row
{
   font-size: 10pt;  
  font-weight: 300; 
} */

/* .row > div:nth-child(2) {
  background: red;
} */



.cup-grid {
  display: grid;  
  /* grid-template-columns: 2fr 2fr 6fr 4fr 4fr 4fr 2fr; */
  grid-template-columns: 2fr 6fr 4fr 4fr 4fr 2fr;
  grid-column-gap: 3px;  
  background: none;  
}

.cup-grid:hover
{
  background: var(--menubtnhover);
}

.cup-redwarn
{
  /* background: #33000082; */
  /* font-weight:normal; */
  /*color: #ff2929;*/
  color:var(--redWarnA);
  -webkit-animation: color-change 2s infinite;
  -moz-animation: color-change 2s infinite;
  -o-animation: color-change 2s infinite;
  -ms-animation: color-change 2s infinite;
  animation: color-change 2s infinite;
}

@-webkit-keyframes color-change {
  0% { color: var(--redWarnA); }
  50% { color: var(--redWarnB); }
  100% { color: var(--redWarnA); }
}
@-moz-keyframes color-change {
  0% { color: var(--redWarnA); }
  50% { color: var(--redWarnB); }
  100% { color: var(--redWarnA); }
}
@-ms-keyframes color-change {
  0% { color: var(--redWarnA); }
  50% { color: var(--redWarnB); }
  100% { color: var(--redWarnA); }
}
@-o-keyframes color-change {
  0% { color: var(--redWarnA); }
  50% { color: var(--redWarnB); }
  100% { color: var(--redWarnA); }
}
@keyframes color-change {
  0% { color: var(--redWarnA); }
  50% { color: var(--redWarnB); }
  100% { color: var(--redWarnA); }
}