:root {  
  --chartDivRoundness: 0px;  
  /* 8px */

  --divShadow: 9px 14px 10px -5px rgba(0, 0, 0, 0.37);  
  --chartDivBorder: #007ac7;

  --equipGridCSpace: 30%;

  --equipGridRTitle: 4%;
  --equipGridRSpace: 34%;
  --equipGridRTimeLine: 24%;

  /* --cardColorBG: #22558a; */
  --cardColorBG: rgba(0, 67, 109, 1);
  --cardColorFG: rgb(34, 85, 138);
  --cardColorHov: rgb(68, 104, 143);
  


  --backGroundTint: rgba(0, 0, 0, 0.369);
}



* {
  box-sizing: border-box;
}
html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  color: white;
  background-color: rgba(0, 67, 109, 1);
  
  /* Defaults to P */
  font-family: 'Poppins', sans-serif;
  font-size: 9pt; 
  /* font-size: 4pt; */
  font-weight: 300;
  
  height: 100%;
  margin: 0;
  overflow:hidden;
}


/* -------------------------------------- */
/* FONT AND STYLES */

h1,h2,h3,h4,h5,h6,p
{
    color:white;
    margin: 0;
    padding: 0;
    /* margin-block-start: -0.2em; */
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-weight: 300;
}

h1{  font-size: 38pt; text-shadow: 4px 4px 3px #00000094;}
h2{  font-size: 24pt; text-shadow: 3px 2px 3px #00000094; line-height: 2.0rem;}
h3{  font-size: 18pt;}
h4{  font-size: 12pt;}
h5{  font-size: 10pt;}
p{font-size: 9pt; font-weight: 300;}


.light
{
  color: #caf0f6fa;
    text-shadow: 1px 1px 3px #00000082;
}

.bold
{
  font-weight: normal;
}
/* -------------------------------------- */




.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center ;
}

.flex
{
  display:flex;
  flex: 0;
   justify-content: space-between; 
  /* align-content: flex-end; */
}

.flex-start{  justify-content: flex-start;}
.flex-center{  justify-content: center;}
.flex-end{  justify-content: flex-end;}
.flex-even{  justify-content: space-evenly;}


.flex-right
{
  flex:1;
  flex-direction: row-reverse;
}

.flex-column
{
  flex-direction: column;
}

.flex-column-rev
{
  flex-direction: column-reverse;
}

.flex-wrap
{
  flex-wrap: wrap;
}


.vertical
{
  margin: auto;
  margin-left: 0;
  margin-right: 0;
}






/* input
{
  font-family: inherit;  
  background: #00284452;
  box-shadow: inset 2px 3px 8px #00000096;
  border: none;
  border-radius: 3px;
  color: inherit;
  transition: all 0.5s ease;
}

input:focus{
  background: #3b8c9e;
  transition: all 0.5s ease;
}

input:focus{
  background: #3b6e9e;
}

input:invalid:required {
  background-image: linear-gradient(to top, #ac0000, #6b5f5f);
  color: #ffc33b;
} */





.sectionTitle
{
  /* margin-bottom: 0.5rem; */
   height: 40px; 
}









.chartCard {
  display: flex;
  flex-direction: column;
   height: 100%;
}

.charthead {

  display: flex;
  justify-content: space-between;
  border-radius: var(--chartDivRoundness) var(--chartDivRoundness) 0 0;
  background: var(--cardColorBG);;
  border: 1px solid var(--chartDivBorder);
  border-bottom: none;

  width: 100%;
  height: 20px;
}


.chartheadtxt {
  /* letter-spacing: 1px; */
  color: white;
  vertical-align: bottom;
  padding: 0px 5px 0px 5px;
  /* padding: 0px var(--chartDivRoundness) 0px var(--chartDivRoundness); */
  /* text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.48); */
}




.chartdivcontent {

  -webkit-box-shadow: var(--divShadow);
  -moz-box-shadow: var(--divShadow);
  box-shadow: var(--divShadow);

  border-radius: 0 0 var(--chartDivRoundness) var(--chartDivRoundness);
  border: 1px solid var(--chartDivBorder);
  border-top: none;

  width: 100%;
  /* height: 90%; */
  flex: 1;
}





.lt_ParetoPair, .lt_LongTermGrid {
  display: grid;
  grid-column-gap: 0.4rem;    
  height: 200px;  
  margin-bottom: 0.3rem;
}

.lt_LongTermGrid
{
  grid-template-columns: 4fr 2fr;
}

.lt_ParetoPair
{
  grid-row-gap: 0%;
  grid-template-columns: 1fr 1fr;  
  margin-bottom: 0%;
}









/* --------------------------------------------------------------------- */
/* .equipGrid {

  display: grid;

  grid-column-gap: 1%;
  grid-row-gap: 0%;   
  grid-template-columns: 31% 31% 31%;
  grid-template-rows: 5% 34% 34% 20%;  

  justify-content: center;    
  align-content: space-evenly;

  width: 100%;
  height: 100%;
  
  background: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.322), black);
  opacity: 1;
} */


.equipGrid2 {
  padding: 0.5% 2% 0.5% 2%;
  display: grid;

  grid-column-gap: 1%;
  grid-row-gap: 0.2%; 
  /* grid-template-columns: 31% 31% 31%; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4% 3% 38% 48%;  

  justify-content: center;    
  align-content: space-evenly;

  width: 100%;
  height: 100%;

  
  background: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.322), black);
  /* opacity: 1; */
  animation: fadein 1s;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.firstTL
{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}

.equipParetoGrid
{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;

  display: grid;

  grid-column-gap: 1%;
  grid-row-gap: 1%; 
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;  

  justify-content: center;    
  align-content: space-evenly;

  width: 100%;
  height: 100%;
}

.equipGaugeGrid
{
  display: grid;

  grid-column-gap: 1%;
  grid-row-gap: 1%; 
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;

  justify-content: center;    
  align-content: space-evenly;

  width: 100%;
  height: 100%;
}


/* --------------------------------------------------------------------- */






/* Special layout for the timeline */
.first {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.last {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
}


.page-header{
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 14fr;
}

.equipHeader
{
  display: grid;
  grid-template-columns: 1fr 3fr;
}


.equipTitleGrid {
  align-self: flex-end;
  display: grid;
  width: 100%;
  grid-column-gap: 0%;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-columns: 1fr 1fr 1fr;
}

.equipTitleGridEntry
{
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 5%;
  height: 30px;
}

.equipFlatUsage
{
  display:grid;
  /* grid-template-columns: 1fr 9fr; */
  grid-template-columns: 175px auto;
  height: 20px;
}


/* -------------------------------------------------- */
/* Small little boxes to hold snippets of information */



.jumbogrid {  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.jumbogriditem, .jumbogriditemCompact {
  box-shadow: rgb(0 0 0 / 46%) 6px 8px 5px 0px;
  background-color: rgba(0, 67, 109, 1);   
  /* border: 1px solid #4e5e7e;   */
  margin: 0.5%;
  margin-bottom: 50px;
  padding: 0px;

  min-height: 250px;  
  width: 19rem;

  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 3fr 4fr 5fr; */
  grid-template-rows: 7.8rem 9rem auto;
}

.jumbogriditemCompact
{
  min-height: 0px;
  height: 7.8rem;
  margin-bottom: 0.2rem;
}


.jumboscroll {
  overflow-y: scroll;  
  overflow-x: hidden;
  /* height: 100%; */
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}


.smallInfo,
.equipSmallInfo
{  
  background: var(--cardColorFG);
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.4);
  margin: 0.1rem;
  padding: 0.2rem;
  transition: 400ms;
  /* min-width: 188px; */    
}

.equipInfoAssetHeader
{
  padding: 2px;
  height: 19px;
  line-height: 0px;
}

.smallInfo:hover,
.equipSmallInfo:hover
{
  background: #486b9e;
  transition: 400ms;
}

.equipSmallInfo
{
  /* height: 4rem;
  width: 8rem; */
  height: 3rem;
  width: 6rem;
} 

.equipSmallInfo p 
{
  font-size: 6.5pt;
}
.equipSmallInfo h5 
{
  font-size: 7pt;
}

/* -------------------------------------------------- */





/* -------------------------------------------------- */
/* Backgrounds */

.bg_img, .bg_bog, .bg_truck, .bg_drill
{
  /* background: url(../img/login_dark.jpg) no-repeat center center fixed; */
   background-image: url("/web/assets/img/login_dark.jpg"); 
  /* background-image: url("../img/login_dark.jpg"); */
  object-fit: cover;    
  background-size: cover;     
}

.bg_imgBlur, .bg_bogBlur, .bg_truckBlur, .bg_drillBlur
{
  background: linear-gradient(50deg, rgb(15, 18, 22) 0, rgba(40, 84, 126, 0.39) 100%), url("/web/assets/img/login_blur.jpg") no-repeat center center fixed;
  object-fit: cover;  
  background-size: cover; 
}
/* --backGroundTint */

.bg_bog{    background-image: url(../img/bg/bg_bog.jpg);}
.bg_bogBlur {  background-image: linear-gradient(50deg, rgb(15, 18, 22) 0, rgba(40, 84, 126, 0.39) 100%), url(../img/bg/bg_bog_blur.jpg);}

.bg_truck{    background-image: url(../img/bg/bg_truck.jpg);}
.bg_truckBlur {  background-image: linear-gradient(50deg, rgb(15, 18, 22) 0, rgba(40, 84, 126, 0.39) 100%),url(../img/bg/bg_truck_blur.jpg);}

.bg_drill{ background-image: url(../img/bg/bg_drill.jpg);}
.bg_drillBlur {  background-image: linear-gradient(50deg, rgb(15, 18, 22) 0, rgba(40, 84, 126, 0.39) 100%), url(../img/bg/bg_drill_blur.jpg);}



/* Gradient background */
.bg_navy{  background: linear-gradient(28deg, black, rgb(62, 73, 117));}
.bg_navyBlur{      background: linear-gradient(0deg, rgb(0, 21, 51), rgb(35, 45, 84));}

 

/* -------------------------------------------------- */








/* -------------------------------------------------- */
/* Heights */
.h40px{  height: 40px;}
.h60px{  height: 60px;}


/* Percentages */
.h100pc{ height: 100%;}
.h80pc{ height: 80%;}
.h60pc{ height: 60%;}
.h33pc{ height: 33%;}
.h25pc{ height: 25%;}
.h20pc{ height: 20%;}
.h15pc{ height: 15%;}
.h10pc{ height: 10%;}

.w100pc { width: 100%}
.w60pc {width:60%}
.w50pc {width:50%}


/* Colours */
.bg_black50{background-color: rgba(0, 0, 0, 0.5); }

/* -------------------------------------------------- */


.shiftIconDay
{
  color:yellow;
}

.shiftIconNight
{
  color: rgb(53, 147, 255);
}




.sitePicMargin
{
  margin-right: 10px;
  padding-right: 10px;
}



.sitePicTiny, .sitePicSmall, .sitePicBig{
  max-width: 70px;
  max-height: 70px;
  border-radius: 10%;
  box-shadow: 4px 5px 11px 0px #00000091;
  border: 1px solid #8aadcf;;
  transition: 0.2s;
}

.sitePicTiny
{
  max-width: 40px;
  max-height: 40px;
}

.sitePicBig
{
  max-width: 110px;
  max-height: 110px;
  transform: perspective(5cm) rotateX(3deg) rotateY(-11deg);
}

.sitePicBig:hover
{
  transform: perspective(7cm) rotateX(3deg) rotateY(-11deg);
  border:1px solid #ffffff;
}






/* a > .sitePicBig:hover
{
  border-color: #43c3ff;
  transition: 0.2s;
  box-shadow: 0px 0px 11px 0px #00bbff5c;
  transform: translate(0px, 2px);
} */


.img_LOADING, .img_HAULING, .img_D, .img_P
{  
  background: linear-gradient(0deg, rgba(0, 23, 53, 0.83) 0, rgba(40, 84, 126, 0.81) 100%), url(../img/equip_LOADING.jpg);
  background-size: cover;  
}
.img_HAULING{background: linear-gradient(0deg, rgba(0, 23, 53, 0.83) 0, rgba(40, 84, 126, 0.81) 100%), url(../img/equip_HAULING.jpg); background-size: cover;  }
.img_D{background: linear-gradient(0deg, rgba(0, 23, 53, 0.83) 0, rgba(40, 84, 126, 0.81) 100%), url(../img/equip_D.jpg);background-size: cover;  }
.img_P{background: linear-gradient(0deg, rgba(0, 23, 53, 0.83) 0, rgba(40, 84, 126, 0.81) 100%), url(../img/equip_P.jpg);background-size: cover;  }

.imgLink {   
  display: contents;
}

.imgLink:hover {  
  display: contents;
}

.imgLink:active {
  display: contents;
}