.errorpage 
{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table
{
    color:black;
    font-weight: 800;
}
th{
    font-weight: 800;
}