:root {
  --chartDivRoundness: 8px;
  --bgMain: url(../img/login_blur_sat.jpg) no-repeat center center fixed;
  --bgBlur: linear-gradient(50deg, rgb(15, 18, 22) 0, rgba(40, 84, 126, 0.39) 100%), url(assets/img/login_blur.jpg) no-repeat center center fixed;
  --divShadow: 9px 14px 10px -5px rgba(0, 0, 0, 0.37);
  --chartDivBorder: #007ac7;

  --equipGridCSpace: 30%;

  --equipGridRTitle: 4%;
  --equipGridRSpace: 34%;
  --equipGridRTimeLine: 24%;
}

/* * {
  box-sizing: border-box;
} */
html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  /* background: black; */
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: var(--bgMain);
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(0, 0, 0, 1); 
}

.vingette
{  
  background: url(../img/vingette.png) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
}

.log-outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.log-middle {
  display: table-cell;
  vertical-align: middle;
}

.log-inner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 50%;
  display: grid;
  box-shadow: 4px 7px 13px 0px #00000078;  
  
  grid-template-columns: 1fr 1fr;

  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}


.log-inner > .panel
{
  padding: 2%;
  background: linear-gradient(45deg, #1a2a61, #0045ade6);
}

.log-inner > .input {
  padding: 2%;
  color:rgb(82, 82, 82);
  background-color: rgb(255, 255, 255);
}




@keyframes fadein {
   from { opacity: 0; top:50; }
   to   { opacity: 1; top:0;}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; top:50; }
   to   { opacity: 1; top:0;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; top:50; }
   to   { opacity: 1; top:0;}
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; top:50; }
   to   { opacity: 1; top:0;}
}

