.mines
{
  font-family: inherit;
  display:grid;
  grid-template-columns: 2fr 7fr;
  height: 97%;
  position: relative;
  overflow: hidden;
}

.mines > div
{
    padding: 10px;
    margin: 10px 0px 10px 0px;
    overflow: hidden;
}

.mines > div > .landcard
{
  min-width: 200px;
}

.mines > div::-webkit-scrollbar {
    display: none;
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.minesEquipTotals
{
  display: flex;
  justify-content: space-evenly;
}

.minesEquipTotals > .chart
{
  height: 100px;
  width:100%;
}

.mines-center
{    
    /* background: linear-gradient(25deg, #141f33, #4d6f8b);
    box-shadow: 5px 5px 12px 1px #000000bf; */

    padding:1%;
    height: 90%;

    /* background: var(--bgBlur); */
    /* background: linear-gradient(50deg, rgb(15, 18, 22) 0, rgba(40, 84, 126, 0.39) 100%), url(../img/login_blur.jpg) no-repeat center center fixed; */
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-box-shadow: var(--divShadow);
    -moz-box-shadow: var(--divShadow);
    box-shadow: var(--divShadow);

    border-radius: var(--chartDivRoundness);
    border: 1px solid var(--chartDivBorder);
}



.item-c {
  grid-area: cumul;  
}
.item-b {
  grid-area: bog;  
}
.item-t {
  grid-area: tph;  
}
.item-s {
  grid-area: san;  
}

.mines-outlook-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "tph bog"
    "tph bog"
    "tph bog"
    "tph san"
    "cumul san"
    "cumul san"
    "cumul san"
    "cumul san";   
}

.mines-bogger
{
  display: grid;
  grid-template-columns: 2fr 9fr 2fr;
  grid-column-gap: 5px;
  width: 100%;
  height: 40px;
  /* border: 1px solid; */
  margin-bottom: 4px;
  border: 1px solid #7babff00;
  background: var(--menuDropContentBG);
  /* background: linear-gradient(27deg, #1e3e89, #486dc3); */
  box-shadow: 2px 3px 4px 0px #00000063;
}

.mines-bogger > div
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* text-align: center; */
}

.mines-bogger-chart
{
  width:100%;
  height: 100%;
}


.shiftIconDay
{
  color:yellow;
}

.shiftIconNight
{
  color: rgb(53, 147, 255);
}


.monthlyTargetGrid
{
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 3fr 2fr 1fr;
  width: 50%;
  /* min-width: 750px; */
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.monthlyTargetGrid:hover {
  background: rgba(0, 0, 0, 0.3);
}