.mnth_target_grid {        
    padding: 2px;  
    width: 350px;    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;         
  }

.mnth_target_grid:hover {
  background: var(--menubtnhover);
}

.mnth_gauge
{
  width: 15rem;
  height: 11rem;  
  margin-bottom: 0.5rem;
}