.mnth_target_grid {        
    padding: 2px;  
    width: 350px;    
    display: grid;
    /* grid-template-columns: 4fr 3fr 3fr 4fr;          */
    grid-template-columns: 2fr 2fr 2fr;         
  }

.mnth_target_grid:hover {
  background: var(--menubtnhover);
}

.mnth_gauge
{
  width: 15rem;
  height: 11rem;  
  margin-bottom: 0.5rem;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  font-family: inherit;
  font-weight: inherit;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 5px 12px;
  cursor: pointer;
}


.btn{
  font-family: inherit;
  font-weight: inherit;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 5px 12px;
  min-width: 70px;
  cursor: pointer;
}

.btn:hover
{ 
  background-color: var(--menubtnhover);
}

.btn:active{
  border:none;
  transform: translateY(4px);    
}

.btn:focus 
{
  border: 1px solid #ccc;
  display: inline-block;
  padding: 5px 12px;
  min-width: 70px;
  cursor: pointer;
}