.mnth_target_grid {    
    margin: 0.5%;
    padding: 5px;  
    width: 350px;    
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;    
  }

.mnth_target_grid:hover {
  background: var(--menubtnhover);
}

.mnth_gauge
{
  width: 15rem;
  height: 11rem;  
  margin-bottom: 0.5rem;
}