.reportcup
{ 
  margin: 0.5% 1% 0% 1%;  
  height: 98%;
}

.tabulator {
  position: relative;
  border-bottom: 5px solid #222; /* the little line under the table */
  background-color: #fff;	/* the big open space under the table */
  font-size: 12px;
  text-align: left;
  overflow: hidden;
  -ms-transform: translatez(0);
  transform: translatez(0);
  font-family: arial;
}


.reportCalendar
{
  height: 40px;
  width: 200px;
}

.reportBtn
{
  font-size: 8;  
  cursor: pointer;
  border-left: 1px solid rgb(199, 199, 199, 0); 
  padding-left: 2px;
  transition: 0.1s;
}
.reportBtn:hover
{
  color: var(--btnHoverColor);
  border-left: 1px solid var(--btnHoverColor);
  padding-left: 4px;
  transition: 0.1s;
}


/* Unfortunately necessary until solve switch overflow */
.reportShiftGrid
{
  display: grid;
  grid-template-columns: 4fr 2fr;
}

.reportDateInput
{
  width: 15rem;
  font:inherit;
  color:black;  
  font-weight: 400;
}

.reportCard, .reportDisplay
{
  width: 19rem;
  height: 99%;
  padding:0.3rem;
  /* background: var(--menuDropContentBG); */
}

.reportDisplay
{
  margin-left: 0.5rem;
  width: 100%;
}
