 ::-webkit-scrollbar {
            width: 0px;
            background: transparent;
        }

        /* Add Animation */

        @-webkit-keyframes animatetop {
            from {
                top: -300px;
            }

            to {
                top: 0;
            }
        }

        @keyframes animatetop {
            from {
                top: -300px;
            }

            to {
                top: 0;
            }
        }

        @-webkit-keyframes fadeIn {
            from {
                opacity: 0
            }

            to {
                opacity: 1
            }
        }

        @keyframes fadeIn {
            from {

                opacity: 0
            }

            to {
                opacity: 1
            }
        }




        /* callUpModal Content */
        .adj-bg {
            display: none;
            position: fixed;
            z-index: 1;
            /* padding-top: 5%; */
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
        }

        .adj-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 70%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s;

            max-height: 100%;
            /*calc(100vh - 210px);*/
            overflow-y: auto;
        }


        .adj-header {
            padding: 2px 16px;
            background-color: #232130;
            color: rgb(255, 255, 255);
        }

        .adj-body {
            padding: 2px 16px;
            background-image: linear-gradient(rgb(60, 70, 92), rgb(37, 37, 37));
            color: rgb(255, 255, 255);
        }

        .adj-footer {
            padding: 2px 16px;
            background-color: #232130;
            color: white;
            text-align: center;
            border-top: 1px solid #888;
        }

        .adj-card {
            border: 1px solid #888;
            margin: 15px 0px;
            padding: 5px 15px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }



/* -------------------------------------------------*/
/* First call up ---------------------------------  */

        .cGrid,
        .cGridOuter {
            display: grid;
            grid-gap: 0px;
            grid-template-columns: 2fr 5fr 5fr 4fr 3fr 4fr 2fr;
        }

        .cGridOuter {
            grid-template-columns: 1fr 16fr;
        }

        .cGrid-head {
            font-size: 14pt;
            font-weight: bold;
            border-bottom: 1px solid grey;
        }

        .cGrid-item {
            font-size: 12pt;
            background-color: rgba(0, 0, 0, 0);
        }

        .cGrid-fnLabel {
            position: relative;
            left: 30px;
            transform: rotate(-90deg);
            border: 3px solid #73AD21;
        }

        @media only screen and (max-width: 600px) {
            .adj-content {
                width: 95%;
            }
        }

        @media only screen and (max-width: 900px) {
            .adj-content {
                width: 85%;
            }
        }
/* -------------------------------------------------*/