

:root {
    --transitionTime:0.15s;
    --menubg:  linear-gradient(-1deg, rgba(1, 19, 41, 0.82) 0, rgba(0, 74, 144, 0.61) 100%), url(../img/login_blur.jpg) no-repeat center center fixed;
  
    --menubtnhover: #50e3ffd4; 
    --menubtncolor: #6d85a4;
    --menumargin: 6px;
    --menuDropContentBG :  linear-gradient(20deg, rgb(9, 65, 131) 0, rgb(13, 51, 88) 100%);

    --site_menu_height: 30px;
    --site_body_top: 35px;
}


.underline
{
  border-bottom:1px solid #8aadcf; 
  /* border-bottom:1px solid var(--chartDivBorder); */
  /* border-color:inherit; */
}

.overline
{
  border-top:1px solid #8aadcf; 
}

.shadow
{
  text-shadow: 2px 2px 9px black
}

#site_menu {   
  position: fixed;
  top:0;
  width:100%;
  height: var(--site_menu_height);
  z-index: 1;
  box-shadow: 0px 6px 11px 1px black;
}
 
#site_body { 
    position: absolute;
    top: var(--site_body_top);
    bottom: 0;
    width: 100%; 
}

.navbar {
    /* padding: 6px 1.5%; */
    display: flex;
    overflow: hidden;
    color: rgb(204, 204, 204);
    font-size: 10pt;    
    
    /* background: var(--bgBlur);
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    
    background: var(--menubg);
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    

    text-align: center;
    padding: var(--menumargin) 0px var(--menumargin) 0px;                         
    font-family: inherit;
    border-bottom: 1px solid #686868;

  }

  .navleft, .navright {
    display: flex;
    width: 70%;    
    vertical-align: middle;    
}

.navright {   
    flex: 1; 
    flex-direction: row-reverse;        
}
  
  .navbar a {    
    /* font-size: 16px; */    
    text-align: center;
    vertical-align: center;    
    text-decoration: none;
    transition: 0.3s;
    background-color: inherit;  
    color:inherit;

  }
  
  .dropdown {
    /* float: left; */
    /* overflow: hidden; */
  }
  .util
  {
      /* float: right; */
      margin-left: 3%;
  }
  
  .util .utilbtn, .dropdown .dropbtn {
    font-family: inherit;
    text-decoration: none;    
    border: 1px solid rgb(94, 94, 94);
    border-color: var(--menubtncolor);
    border-radius: 9px;
    min-width: 170px;
    margin: 0px var(--menumargin) 0px var(--menumargin);     
    text-align: center;    
    transition: 0.3s;
    background-color: inherit;  
    color:inherit;
  }
  
  .util .utilbtn
  {
    border-radius: 50%;
    min-width: 21px;
    /* width: 10px;
    height: 10px; */
    /* vertical-align: middle; */
  }

  .util .userbtn
  {
      font-size: 100%;    
      transform: scale(2.4,2.4);
      margin: 0px 4px 0px 28px;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn, .util:hover .utilbtn {
    /* border-radius: 10%; */
    border-color:var(--menubtnhover);
    background: rgba(0, 0, 0, 0.2);
    font-family: inherit;
    color: white;
    transition:var(--transitionTime);    
    transform: translate(0px, 4px);
    /* padding: 15px 18px; */
  }  

  .util:hover .userbtn
  {
    transform: scale(2.4,2.4);    
  }

   .utilgrid
   {  
     display:grid;
     grid-template-columns: 2fr 2fr;
     grid-column-gap: 3%;
     grid-row-gap: 6%;
     padding-bottom: 20px;
   }
   /* .utilgrid div
   {
     justify-content: center;
     vertical-align: middle;
   } */
   .utilgrid div:nth-child(odd) {    
    text-align: right;
    padding-right: 2px;
    border-right: 1px solid rgba(128, 128, 128, 0.486);    
  }




  .dropdown-content {
    display: flex; 
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background: var(--menuDropContentBG);
    /* width: 61%; */
    margin-top: -1px;
    margin-left: 5px;
    left: inherit;
    top: var(--site_body_top);
    box-shadow: 3px 7px 4px 2px rgba(0, 0, 0, 0.4);
    z-index: 1;
    transition: var(--transitionTime);
  }

  .util .dropdown-content {
    margin-left: 0px;
    /* left: 86%; */
    min-width: 300px;
    right: 0%;
    display: flex;
    padding: 1%;
    flex-direction: column;
    text-align: left;
}

  .util .dropdown-content h4,.util .dropdown-content h3{
    border-bottom: 1px solid #58739f;   
    margin-bottom: 5px;
  }

  .dropdown:hover .dropdown-content,.util:hover .dropdown-content {
    /* display: block; */
    opacity: 1;    
    visibility:visible;
    transition: var(--transitionTime);
  }

 .droplist
 {
   display:flex;
   flex-direction: column;
   min-width: 350px;
 }

 .droplist h3
 {
  border-bottom: 1px solid #58739f;
  margin-top:15px;
 }
 .droplist h5{margin-top:5px;}

  .siteCard {
    float: left;
    width: 280px;
    padding: 10px;
    padding-bottom: 20px;
    margin: 3px;
    margin-bottom: 7px;
    background: rgba(140, 193, 255, 0.11);
    box-shadow: 1px 4px 3px 1px rgba(0, 0, 0, 0.493);
    /* height: 20%; */
}
  
  .siteCard a {        
   
    /* height: 20%; */
    border-radius: 2%;
    border: 1px solid rgba(0, 0, 0, 0);
}
  /* .siteCard img
  {
    width: 70px;
    border-radius: 10%;
    box-shadow: 4px 5px 11px 0px #00000091;
    border: 1px solid #58739f;
  } */

  .siteCardGrid
  {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      /* grid-column-gap: 5%; */
  }  

  .siteCard h4,.siteCardGrid div h3{
    border-bottom: 1px solid #58739f;
  }

  .siteCardGrid div div {
    display: flex;
    flex-direction: column;
  } 
  .siteCardGrid div div a {
      width: 100%;
  }



#site_body a {   
    color: white;
    display:block;
    width: 100%;
    background-color: #0c0e493d;
    position: relative;
    border: 1px solid #5470a3;
    /*border-radius: 5px; */
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
  }

  #site_body a:hover {  
  background-color: #5190bc4f;
  border: 1px solid #43c3ff;
  cursor: pointer;
  transform: translate(0px, 2px);  
  transition: 0.3s;
}
#site_body a:active {
  box-shadow: none;
  top: 3px;
  transition: 0.3s;
}


  /* .siteCard div
  {
    display: flex; 
    justify-content: space-between;
  }
  
  .siteCard div div {
    display: flex;
    flex-direction: column;
  } */
  
  /* .column a:hover {
    background-color: #ddd;    
  }  
  
  .row:after {
    content: "";
    display: table;
    clear: both; 
  } */
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    /* .column {
      width: 100%;
      height: auto;
    } */
  }