.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  /* border: 1px solid #ffffff47; */
  box-shadow: inset 0px 2px 6px #00000085;
}



.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:disabled + .slider {
  background-color: #505050;
}

input:disabled + .slider:before {
  background-color: #868686;
}


input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(20px);
}

.slider:after
{
  /* content: 'Off'; */
  content: attr(switch-off);
  color: white;
  /* display: contents; */
  position: absolute;
  /* transform: translate(-50%,-50%); */
  top: 1px;
  left: 40px;
  /* margin: 22px; */
  /* padding: 15%; */
  font-size: 12px;
  font-family: inherit;
  float: left;
  min-width: 60px;
}

input:checked + .slider:after
{  
  /* content:'On'; */
  content: attr(switch-on);
  min-width: 60px;
}


input:disabled {
  background: #505050;
}


button{
  color:inherit;
  background: none;  
  border:none;
}

button:hover
{
  color:#a9ebff;  
}

button:active{
  color:#a9ebff;
  transform: translateY(4px);    
}

button:focus 
{
  border:none;
}

/* .switch {  
   position: relative;
   display: inline-block;
   width: 35px;
   height: 18px;
 }
 

 .onoffswitch-inner:after {
   position: absolute;
  content: "Night";  
  color: #FFFFFF;  
}

.onoffswitch-inner:before {
  position: absolute;
  content: "Day";  
  background-color: #FFD903; color: #FFFFFF;
}

.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
  font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}





 .switch input { 
   opacity: 0;
   width: 0;
   height: 0;
 }
 
 .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .2s;
   transition: .2s;
 }
 
 .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 0;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}
 
 input:checked + .slider { 
   background-color: #2196F3;
 }
 
 input:focus + .slider {
   box-shadow: 0 0 1px #2196F3;
 }
 
 input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}
 
 
 .slider.round {
   border-radius: 34px;
 }
 
 .slider.round:before {
   border-radius: 50%;
 } */