.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black;     */
  }
  
  .tooltip .tooltiptext {
    font-family: inherit;
    font-size: 7pt;
    visibility: hidden;
    width: 220px;
    background-color: rgb(21, 30, 49);
    
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;    
    text-align: left;
    border: 1px solid #13ff05;
    box-shadow: 3px 4px 12px 5px black;
    z-index: 1;
    top: 110%;
    left: 10%;
    margin-left: -210px;
    opacity: 0;
    transition: 0.1s;
    transform: scale(1,0);
}

/* .tooltiptext a
{
    color: #a6ffd4;
}

.tooltiptext a:hover
{
    color: #cbffff;
} */
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: 91px;
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent #13ff05 transparent;
}
  
  .tooltip:hover .tooltiptext {
    
    visibility: visible;
    opacity: 1;
    transition: 0.2s cubic-bezier(.47,2,0.4,.8);
    transform: scale(1,1);
    transition-delay: 0.3s;
  }