<aside id="left-panel" class="left-panel" ng-controller="menu_sites">
    <nav>

        <div class="menu-cat">
            Short Interval Controls
        </div>



        <div ng-repeat="x in siteData" id="loaderDiv">
            <li>
                <span class="menu-caret" ng-bind="x.name"></span>
                <ul class="nested">

                    <!-- Site Analysis -->
                    <span class="menu-caret">Analysis</span>
                    <ul class="nested">
                        <li><a href="#" class="menu-link">Bogger Movements</a></li>
                        <li><a href="#" class="menu-link">Hauling Movements</a></li>
                        <li><a href="#" class="menu-link">Drill Meters</a></li>
                    </ul>


                    <!-- All equip releated to this Site-->
                    <span class="menu-caret">Equipment</span>
                    <ul class="nested">
                        <div class="menu-equip-grid">
                            <div data-ng-repeat="y in x.equipmentByFunction">
                                <div>
                                    <!-- Function of the Equipment -->
                                    <!-- <div ng-repeat="z in y" ng-if="$first">
                                        <p class="menu-text">{{ z }}</p>
                                    </div> -->
                                    <!-- The equipment realted to this function -->
                                    <div ng-repeat="z in y">
                                        <li><a ng-href="#!equip/{{ $parent.$parent.$index }}/{{ z.Index}}"
                                                class="menu-link">{{z.ID}}</a></li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>

                    <!-- Material Movements for Site-->
                    <span class="menu-caret">Materials</span>
                    <ul class="nested">
                        <li><a href="#" class="menu-link">All Movements</a></li>
                        <li><a href="#" class="menu-link">Produciton Tonnes</a></li>
                        <li><a href="#" class="menu-link">Development Tonnes</a></li>
                        <li><a href="#" class="menu-link">Other</a></li>
                    </ul>
                </ul>
            </li>
        </div>


        <br />



        <!-- Analysis Links -->
        <span class="menu-caret">Analysis</span>
        <ul class="nested">
            <li><a href="#" class="menu-link">Equipment Timeline</a></li>
            <li><a href="#" class="menu-link">Current Status</a></li>
            <li><a href="#" class="menu-link">Start Report</a></li>
            <span class="menu-caret">Material Movements</span>
            <ul class="nested">
                <li><a href="#" class="menu-link">All Movements</a></li>
                <li><a href="#" class="menu-link">Produciton Tonnes</a></li>
                <li><a href="#" class="menu-link">Development Tonnes</a></li>
                <li><a href="#" class="menu-link">Stockpile Report</a></li>
                <li><a href="#" class="menu-link">Other...</a></li>
            </ul>
        </ul>

        <!-- Reports -->
        <!-- <span class="menu-caret">Reports</span>
        <ul class="nested">
            <li><a href class="menu-link" ng-click="openReportFirstCallUp(0)">First Call Up</a></li>
            <li><a href class="menu-link" ng-click="openReportFirstCallUp(1)">Last Call Up</a></li>
        </ul> -->





        <!-- Monthyl Compliance Tool -->
        <ul id="myUL">
            <div class="menu-cat">
                Monthly Compliance
            </div>
            <li><a href class="menu-link" ng-click="openAdjTargets()">Adjust Target Inputs</a></li>
            <span class="menu-caret">Mines</span>
            <ul class="nested">
                <li><a href="#" class="menu-link">Plan vs Compliance</a></li>
                <li><a href="#" class="menu-link">Material Movements</a></li>
            </ul>
            <span class="menu-caret">Equipment</span>
            <ul class="nested">
                <li><a href="#" class="menu-link">Downtime Report Per-Type</a></li>
                <li><a href="#" class="menu-link">Material Movement Per-Type</a></li>
            </ul>
        </ul>

    </nav>
</aside>